<div class="modal-header">
    <a ng-click="cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
</div>
<div class="modal-body">


    <div class="mira">
        <div class="">
            <img src="../../images/icons/ico_cast03.svg" style="max-width: 50px;">
            <span class="font_medium font_18 blue3">Select Devices</span>
        </div>

        <ul class="devices">
            <li>
                <a class="dis_table_auto">
                    <div class="dis_cell cell-sm" style="width: 10%">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="dis_cell grey2"> Device Name </div>
                </a>
            </li>
            <li>
                <a class="dis_table_auto">
                    <div class="dis_cell cell-sm" style="width: 10%">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="dis_cell grey2"> Device Name </div>
                </a>
            </li>
            <li>
                <a class="dis_table_auto">
                    <div class="dis_cell cell-sm" style="width: 10%">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="dis_cell grey2"> Device Name </div>
                </a>
            </li>
        </ul>

    </div>

</div>






<div class="font_bold modal-footer">
    <button ng-click="" class="pull-right  btn btn-primary" >
        Confirm
    </button>
    <button id="close_quote" type="button" class=" btn btn-primary-alt pull-left" ng-click="cancel()">Cancel
    </button>
</div>

