<div class="modal-body">
    <div class="pad_vertical_15">
        <div class="grey2 font_medium">
            Folder Name
        </div>
        <input type="text" class="form-control" name="folder_name" placeholder="Folder Name" ng-model="folder.folder_name">
    </div>
</div>
<div class="font_bold modal-footer">
    <button ng-click="create()" class="pull-right  btn btn-primary" >
        Add
    </button>
    <button id="close_quote" type="button" class=" btn btn-primary-alt pull-left" ng-click="cancel()">Cancel
    </button>
</div>