<div class="modal-header" style="padding: 15px;border-bottom: 1px solid rgb(37, 42, 45);background: rgb(37, 42, 45);color: #fff;">
    <span uib-dropdown class="cast">
    <a id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled" style="color: #fff;">
           <img src="./images/icons/ico_cast04.svg" style="max-width: 40px;margin-top: -10px;margin-bottom: -6px;"> Cast to Large Screen
    </a>
    <ul class="grey2 dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="left: 192px;top: -7px;background: #252a2d;border: 0;">
        <li ng-repeat="device in activeDevices">
            <a href="" ng-click="selectDevice(device)">
                <span>&nbsp {{device.os}}({{device.os_version}})</span>
            </a>
        </li>
    </ul>
    </span>
    <a ng-click="cancel()" class="close" style="background: #fff;padding: 0px 5px;border-radius: 50%;"><span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
</div>
<div class="modal-body">
    <iframe style="width: 100%;height: 100%;" src="{{pdfUrl}}" frameborder='0' ng-if="file_type !=='application/pdf'"></iframe>
    <object type="application/pdf" data="{{pdfUrl}}" id="pdf_content" ng-if="file_type =='application/pdf'"></object>
</div>
<div class="modal-footer">
</div>
<style type="text/css">
.cast {
    background: transparent;
    padding: 10px;
    border-radius: 3px;
}

.cast:hover,
.cast:active,
.cast:focus {
    background: rgba(49, 106, 202, 0.51);
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #f9f9f9;
    white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #f9f9f9;
    text-decoration: none;
    background-color: rgba(49, 106, 202, 0.51);
    transition: background-color 0.5s ease;
    border-radius: 3px;
}
</style>
