<section class="content-header">
    <h1>Customer Groups</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.settings-humanresource">Human Resource</a></li>
        <li class="active">Customer Groups</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="row">
        <script type="text/ng-template" id="checkboxheader.html">
            <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
        </script>
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header">
                    <div class="pull-left">
                        <button class="btn btn-flat btn-sm btn-primary" ng-click="addGroups()">
                            <i class="fa fa-edit"></i> Add New Entry
                        </button>
                        <button class="btn btn-flat btn-sm btn-danger" ng-click="deleteSelected()" ng-disabled="!deleteSomeData">
                            <i class="fa fa-remove"></i> Delete
                        </button>
                        <button ng-click="refresh()" class="btn btn-flat btn-sm btn-success">
                            <i class="fa fa-refresh"></i> Refresh
                        </button>
                    </div>
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0" disable-valid-styling="true" disable-validation-message="">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body table-responsive padding">
                    <table class="table table-hover" ng-table="attributeGroupTable">
                        <tr ng-repeat="group in $data">
                            <td data-header="'checkboxheader.html'" class="text-center center-td-table">
                                <input type="checkbox" ng-model="group.selected" ng-change="checkDataChanges(group)">
                            </td>
                            <td class="text-center" data-title="'Group Name'">
                                {{group.name}}
                            </td>
                            <!-- <td class="text-center" data-title="'Label'">
                                {{group.label}}
                            </td> -->
                            <td class="text-center" data-title="'Description'">
                                {{group.description}}
                            </td>
                            <td class="text-center" data-title="'Date Created'">
                                {{group.date_created | fromNow}}
                            </td>
                            </td>
                            <td class="text-right">
                                <button ui-sref="main.settings-customergroup-detail({customergroup_id:group.cg_id})" class="btn btn-info btn-xs btn-flat"><i class="glyphicon glyphicon-edit"></i></button>
                                <button ng-click="toggleModal(group.cg_id);" class="btn btn-flat btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="overlay" ng-show="attribisLoading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
