<!-- Content Header (Page header) -->
<div class="overTop"></div>
<section class="content-header" ng-init="HideDetails = true;">
    <h1>
            Messages
           <!--  <small>13 new messages</small> -->
     </h1>
</section>
<section class="content">
    <!-- /.row -->
    <div class="row">
        <section class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="card clearfix" id="messages">
                        <div class="ms-menu">
                            <div class="ms-user clearfix palette-Teal-400 bg" style="height: 63px;">
                                <ng-letter-avatar data="Davil Parnell" shape="round" height="40" width="40" fontsize="20" fontWeight="100" charCount="2"></ng-letter-avatar>
                                <div>Signed in as
                                    <br/> m-hollaway@gmail.com</div>
                            </div>
                            <div class="list-group lg-alt messageList">
                                <a class="list-group-item media" href="" ng-repeat="acc in accounts" ng-click="getMessage(acc)" style="display: flex;">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="{{acc.firstname}}" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">{{acc.firstname}} {{acc.lastname}}</div>
                                        <!-- <small class="lgi-text">Fierent fastidii recteque ad pro</small> -->
                                    </div>
                                </a>
                                <!--   <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Ann Watkinson" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Ann Watkinson</div>
                                        <small class="lgi-text">Cum sociis natoque penatibus </small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Marse Walter" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Marse Walter</div>
                                        <small class="lgi-text">Suspendisse sapien ligula</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Jeremy Robbins" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Jeremy Robbins</div>
                                        <small class="lgi-text">Phasellus porttitor tellus nec</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Reginald Horace" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Reginald Horace</div>
                                        <small class="lgi-text">Quisque consequat arcu eget</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Shark Henry" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Shark Henry</div>
                                        <small class="lgi-text">Nam lobortis odio et leo maximu</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Paul Van Dack" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Paul Van Dack</div>
                                        <small class="lgi-text">Nam posuere purus sed velit auctor sodales</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="James Anderson" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">James Anderson</div>
                                        <small class="lgi-text">Vivamus imperdiet sagittis quam</small>
                                    </div>
                                </a>
                                <a class="list-group-item media" href="">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Kane Williams" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2" class="avatar-img"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div class="lgi-heading">Kane Williams</div>
                                        <small class="lgi-text">Suspendisse justo nulla luctus nec</small>
                                    </div>
                                </a> -->
                            </div>
                        </div>
                        <div class="ms-body">
                            <div class="action-headers clearfix palette-Teal-400 bg">
                                <div class="ah-label hidden-xs palette-White text">Marsh Walter</div>
                                <div class="menu-collapse visible-xs" data-ma-action="message-toggle">
                                    <div class="mc-wrap">
                                        <div class="mcw-line top palette-White bg"></div>
                                        <div class="mcw-line center palette-White bg"></div>
                                        <div class="mcw-line bottom palette-White bg"></div>
                                    </div>
                                </div>
                                <ul class="actions a-alt">
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-check"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-time"></i>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown" aria-expanded="true">
                                            <i class="zmdi zmdi-sort"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Latest</a>
                                            </li>
                                            <li>
                                                <a href="">Oldest</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown" aria-expanded="true">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Refresh</a>
                                            </li>
                                            <li>
                                                <a href="">Message Settings</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div class="list-group lg-alt">
                                    <div class="msgCOntainerz">
                                        <div class="list-group-item media" ng-repeat="msg in filterMessages" style="display: flex;">
                                            <div class="pull-left">
                                                <ng-letter-avatar data="{{msg.user.displayName}}" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2"></ng-letter-avatar>
                                            </div>
                                            <div class="media-body">
                                                <div>
                                                    <div class="msb-item">
                                                        {{msg.value}}
                                                    </div>
                                                </div>
                                                <!-- <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:00</small> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="list-group-item media">
                                    <div class="pull-right">
                                        <ng-letter-avatar data="Walter Marsh" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="msb-item">
                                                Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                                            </div>
                                        </div>
                                        <div>
                                            <div class="msb-item">
                                                Condimentum est rutrum lobortis.
                                            </div>
                                        </div>
                                        <div>
                                            <div class="msb-item">
                                                :)
                                            </div>
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:30</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Kane Williams" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="msb-item">
                                                Etiam ex arcumentum
                                            </div>
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:33</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="pull-right">
                                        <ng-letter-avatar data="Walter Marsh" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="msb-item">
                                                Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus. Praesent sed posuere sem. Cum sociis natoque penatibus et magnis dis parturient montes,
                                            </div>
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 10:10</small>
                                    </div>
                                </div>
                                <div class="list-group-item media">
                                    <div class="pull-left">
                                        <ng-letter-avatar data="Kane Williams" shape="round" height="45" width="45" fontsize="25" fontWeight="100" charCount="2"></ng-letter-avatar>
                                    </div>
                                    <div class="media-body">
                                        <div>
                                            <div class="msb-item">
                                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius. Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam finibus tristique ante, vitae rhoncus sapien volutpat eget
                                            </div>
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 10:24</small>
                                    </div>
                                </div> -->
                                    <div class="ms-reply">
                                        <textarea placeholder="What's on your mind..." ng-model="chatMessage"></textarea>
                                        <button ng-click="sendMessage()"><i class="zmdi zmdi-mail-send"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
        </section>
        </div>
</section>
<!-- /.content -->
<style type="text/css">
.messageList {
    height: 650px;
    background: #fff;
    overflow-y: hidden;
}

.msgCOntainerz:hover,
.messageList:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

.msgCOntainerz::-webkit-scrollbar,
.messageList::-webkit-scrollbar {
    width: 3px;
    height: 20px;
    border-radius: 2px;
}

.msgCOntainerz::-webkit-scrollbar-thumb,
.messageList::-webkit-scrollbar-thumb {
    background: transparent;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    line-height: 50px;
}

.msgCOntainerz::-webkit-scrollbar-track,
.messageList::-webkit-scrollbar-track {
    background: transparent;
}

.msgCOntainerz:hover::-webkit-scrollbar,
.messageList:hover::-webkit-scrollbar {
    width: 3px;
    height: 20px;
    border-radius: 2px;
}

.msgCOntainerz:hover::-webkit-scrollbar-thumb,
.messageList:hover::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    line-height: 50px;
}

.msgCOntainerz:hover::-webkit-scrollbar-track,
.messageList:hover::-webkit-scrollbar-track {
    background: transparent;
}

.msgCOntainerz {
    height: 535px;
    overflow-y: auto;
}

.list-group img {
    vertical-align: middle;
    width: 32px;
    margin-top: -2px;
    font-size: 10px !important;
}

.ms-menu .list-group-item {
    padding: 15px 22px !important;
}
</style>
