<section class="content-header">
    <h1>
            Article Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.articles">Article</a></li>
        <li class="active">Article New Entry</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="<i class='fa fa-info'></i> General Info" bs-pane>
            <div class="row">
                <form role="form" name="articleForm" ng-submit="saveArticle()">
                    <div class="col-md-9">
                        <div class="box box-warning">
                            <div class="box-header">
                                <h3 class="box-title">Enter Article Info</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group" ng-if="details.article_id">
                                    <label>Status: </label>
                                    <span ng-if="details.is_active == '0' " class="label label-danger">Inactive</span>
                                    <span ng-if="details.is_active == '1' " class="label label-success">Active</span>
                                </div>
                                <div class="form-group">
                                    <label>Article Title</label>
                                    <input type="text" ng-model="details.title" class="form-control" placeholder="Title" required />
                                </div>
                                <div class="form-group">
                                    <label>Article Summary</label>
                                    <text-angular ng-model="details.article" required /></text-angular>
                                </div>
                                <div class="form-group">
                                    <label>Article Description</label>
                                    <text-angular ng-model="details.description" required /></text-angular>
                                </div>
                                <div class="form-group">
                                    <label>Tags <i class="fa fa-tags"></i></label>
                                    <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" on-remove="deleteProductTags($item)" multiple tagging="tagTransform" tagging-label="Enter Tag" ng-model="details.tags" theme="bootstrap" close-on-select="false">
                                        <ui-select-match placeholder="Enter Tags...">{{$item.tags}}</ui-select-match>
                                        <ui-select-choices repeat="tag in tagsArr | propsFilter: {tags: $select.search}">
                                            <div ng-bind-html="tag.tags | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-warning">
                            <div class="box-body">
                                <button type="submit" ng-disabled="articleForm.$invalid" class=" btn btn-primary btn-block">Save Entry</button>
                                <a class="btn btn-success btn-flat btn-block" ng-show="showPublish" ng-click="publishArticle(details.article_id)">Publish</a>
                                <a class="btn btn-danger btn-flat btn-block" ng-show="showArchive" ng-click="archiveArticle(details.article_id)">Archive</a>
                                <a class="btn btn-default btn-block" ng-click="goBack()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div data-title="<i class='fa fa-life-ring '></i> Features" bs-pane ng-if="details.article_id">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Article Features</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'product'" ng-click="changeData('product')">Product</label>
                                    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'productgroup'" ng-click="changeData('productgroup')">Product Group</label>
                                </div>
                            </div>
                            <div class="form-group" ng-show="radioModel == 'product'">
                                <label>Products</label>
                                <ui-select ng-model="details.product">
                                    <ui-select-match>
                                        {{$select.selected.item_name}}
                                    </ui-select-match>
                                    <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="emp in (products | filter: $select.search) track by emp.p_id">
                                        {{emp.item_name}}
                                        <small>{{emp.product_code}}</small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" ng-show="radioModel == 'productgroup'">
                                <label>Products Groups</label>
                                <ui-select ng-model="details.productgroup">
                                    <ui-select-match>
                                        {{$select.selected.bundle_name}}
                                    </ui-select-match>
                                    <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="emp in (productBundles | filter: $select.search) track by emp.pb_id">
                                        {{emp.bundle_name}}
                                        <small>{{emp.bundle_code}}</small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group" ng-show="radioModel == 'product'">
                                <label>Item: </label>
                                <p>{{details.product.item_name}}</p>
                                <label>Description: </label>
                                <p data-ng-bind-html="details.product.item_description"></p>
                                <label>Code: </label>
                                <p>{{details.product.product_code}}</p>
                                <label>Brand: </label>
                                <p>{{details.product.brand}}</p>
                            </div>
                            <div class="form-group" ng-show="radioModel == 'productgroup'">
                                <label>Item: </label>
                                <p>{{details.productgroup.bundle_name}}</p>
                                <label>Description: </label>
                                <p data-ng-bind-html="details.productgroup.bundle_description"></p>
                                <label>Code: </label>
                                <p>{{details.productgroup.bundle_code}}</p>
                                <label>Brand: </label>
                                <p>{{details.productgroup.bundle_brand}}</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-flat btn-primary" type="button" ng-click="addToList()">Add To List</a>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50%">Item Name</th>
                                            <th>Description</th>
                                            <th>Code</th>
                                            <th>Brand</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in details.article_features_list">
                                            <td>
                                                <strong>{{ item.item_name }}</strong>
                                            </td>
                                            <td>
                                                <strong data-ng-bind-html="item.item_description | limitTo:80"></strong>
                                            </td>
                                            <td>
                                                <strong>{{ item.item_code }}</strong>
                                            </td>
                                            <td>
                                                <strong>{{ item.item_brand }}</strong>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="removeOnList($index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-title="<i class='fa fa-files-o'></i> Media / Files" bs-pane ng-if="details.article_id">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="pull-left">
                                <button class="btn btn-flat btn-sm btn-primary" ng-click="openUploader()">
                                    <i class="fa fa-file"></i> Add Media / File
                                </button>
                                <button ng-click="deleteAllMedia()" class="btn btn-flat btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Delete All
                                </button>
                                <button class="btn btn-flat btn-sm btn-success" ng-click="reloadMediaFiles()">
                                    <i class="fa fa-refresh"></i> Refresh
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-repeat="files in mediafile" class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" ng-click="deleteSelected(files)"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="info-box">
                                        <span ng-if="files.media_mimetype == 'image/jpeg'" class="info-box-icon bg-purple"><i class="fa fa-file-photo-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'image/jpg'" class="info-box-icon bg-purple"><i class="fa fa-file-photo-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'image/gif'" class="info-box-icon bg-purple"><i class="fa fa-file-photo-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'image/x-ms-bmp'" class="info-box-icon bg-purple"><i class="fa fa-file-photo-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'image/png'" class="info-box-icon bg-purple"><i class="fa fa-file-photo-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'audio/mp3'" class="info-box-icon bg-olive"><i class="fa fa-file-audio-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'audio/mp4'" class="info-box-icon bg-olive"><i class="fa fa-file-audio-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'video/mp4'" class="info-box-icon bg-red"><i class="fa fa-file-video-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'video/x-flv'" class="info-box-icon bg-red"><i class="fa fa-file-video-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'video/x-msvideo'" class="info-box-icon bg-red"><i class="fa fa-file-video-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'video/x-ms-wmv'" class="info-box-icon bg-red"><i class="fa fa-file-video-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'video/quicktime'" class="info-box-icon bg-red"><i class="fa fa-file-video-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/pdf'" class="info-box-icon bg-red"><i class="fa fa-file-pdf-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/msword'" class="info-box-icon bg-aqua"><i class="fa fa-file-word-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'" class="info-box-icon bg-aqua"><i class="fa fa-file-word-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/vnd.ms-excel'" class="info-box-icon bg-green"><i class="fa fa-file-excel-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" class="info-box-icon bg-green"><i class="fa fa-file-excel-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/vnd.ms-powerpoint'" class="info-box-icon bg-olive"><i class="fa fa-file-powerpoint-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'" class="info-box-icon bg-orange"><i class="fa fa-file-powerpoint-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/vnd.ms-powerpoint'" class="info-box-icon bg-olive"><i class="fa fa-file-powerpoint-o"></i></span>
                                        <span ng-if="files.media_mimetype == 'application/zip'" class="info-box-icon bg-teal"><i class="fa fa-file-zip-o"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">{{files.media_name}}</span>
                                            <span class="info-box-text">{{files.media_filesize/1024/1024|number:2}} MB</span>
                                            <span class="info-box-number">
                                                <a ng-href="{{files.media_path}}" target="_self" download="{{files.media_path}}">Download</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
