<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <div class="sidebarDiv">
                <button class="btn sidebarBtn r-round" ripple onclick="openNav()"><i class="zmdi zmdi-email"></i></button>
                <button class="btn sidebarBtn r-round" ripple onclick="openNav()"><i class="zmdi zmdi-notifications"></i></button>
                <button class="btn sidebarBtn r-round" ripple onclick="openNav()"><i class="zmdi zmdi-format-list-bulleted"></i></button>
            </div>
            <!--  <li class="active"> -->
            <li>
                <a ui-sref="main.dashboard">
                    <i class="zmdi zmdi-view-dashboard"></i> Dashboard
                </a>
            </li>
            <li><a ui-sref="main.subscriptionrequest"><i class="zmdi zmdi-collection-text"></i>Subscription Request</a>
            <li class="treeview">
                <a href="">
                    <i class="zmdi zmdi-account"></i> Customers / Subscribers
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    
                    </li>
                    <li><a ui-sref="main.account">Subscribers</a>
                    </li>
                    <li><a ui-sref="main.contact">Contact List</a>
                    </li>
                </ul>
            </li>
           <!--  <li class="treeview">
                <a href="">
                    <i class="zmdi zmdi-shopping-basket"></i> Billing Management
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a ui-sref="main.lead">Billing & Payment</a>
                    </li>
                    <li><a ui-sref="main.opportunity">Customer Ledger & SOA</a>
                    </li>
                    <li><a ui-sref="main.campaign">Collections & Transactions</a>
                    </li>
                    <li><a ui-sref="main.campaign">Payment Configuration</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li class="treeview">
                <a href="">
                    <i class="fa fa-qrcode"></i>
                    <span>Products</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="" ui-sref="main.products"><i class="fa fa-angle-double-right"></i> All Products</a>
                    </li>
                    <li><a href="" ui-sref="main.plan"><i class="fa fa-angle-double-right"></i>Subscription Plans</a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="" ui-sref="main.plan">
                    <i class="zmdi zmdi-rss"></i> Subscription Plans
                </a>
            </li>
            <li>
                <a href="" ui-sref="main.modulefeature">
                    <i class="zmdi zmdi-view-module"></i> Modules/Features
                </a>
            </li>
            <li>
                <a href="" ui-sref="main.calendar">
                    <i class="zmdi zmdi-calendar-alt"></i> Calendar
                    <small class="badge pull-right bg-red">3</small>
                </a>
            </li>
            <li>
                <a href="" ui-sref="main.mailbox">
                    <i class="zmdi zmdi-markunread-mailbox"></i> Mailbox
                    <small class="badge pull-right bg-yellow">12</small>
                </a>
            </li>
            <li>
                <a href="" ui-sref="main.messages">
                    <i class="zmdi zmdi-comments"></i> Messages
                    <small class="badge pull-right bg-yellow">12</small>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div id="mySidenav" class="sidenav" onclick="closeNav()"></div>
    <div id="dropShow" class="dropShow sidenav" ng-init="messages = true">
        <ul class="tab-nav tn-justified tn-icon m-t-10">
            <li><a ng-click="messages = true; notifications = false; tasks = false" class="sua-messages actived1"><i class="zmdi zmdi-email"></i></a></li>
            <li><a ng-click="notifications = true; messages = false; tasks = false" class="sua-notifications actived2"><i class="zmdi zmdi-notifications"></i></a></li>
            <li><a ng-click="tasks = true; messages = false; notifications = false" class="sua-tasks actived3"><i class="zmdi zmdi-view-list-alt"></i></a></li>
        </ul>
        <!--   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <div class="tabnavPaddingotp" ng-show="messages">
            <ul class="sua-menu list-inline list-unstyled palette-Blue">
                <li><a href=""><i class="zmdi zmdi-check-all"></i> Mark all</a></li>
                <li><a href=""><i class="zmdi zmdi-long-arrow-tab"></i> View all</a></li>
                <li><a onclick="closeNav()"><i class="zmdi zmdi-close"></i> Close</a></li>
            </ul>
            <div>fdgdfgdfg</div>
        </div>
        <div class="tabnavPaddingotp" ng-show="notifications">
            <ul class="sua-menu list-inline list-unstyled palette-Orange bg">
                <li><a href=""><i class="zmdi zmdi-volume-off"></i> Mute</a></li>
                <li><a href=""><i class="zmdi zmdi-long-arrow-tab"></i> View all</a></li>
                <li><a onclick="closeNav()"><i class="zmdi zmdi-close"></i> Close</a></li>
            </ul>
            <div>sdfsdfsdf</div>
        </div>
        <div class="tabnavPaddingotp" ng-show="tasks">
            <ul class="sua-menu list-inline list-unstyled palette-Green-400 bg">
                <li><a href=""><i class="zmdi zmdi-time"></i> Archived</a></li>
                <li><a href=""><i class="zmdi zmdi-check-all"></i> Mark all</a></li>
                <li><a onclick="closeNav()"><i class="zmdi zmdi-close"></i> Close</a></li>
            </ul>
            <div>dsfsdfds</div>
        </div>
    </div>

