<section class="content-header">
    <h1> Application Settings</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Application Settings</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row" role="search-row">
        <div class="col-md-2 col-xs-2">
            <div class="box box-solid">
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{'active':app.device}"><a href="" ng-click="showTab('device')"><i class="fa fa-tablet"></i> Devices</a></li>
                        <li ng-class="{'active':app.apikeys}"><a href="" ng-click="showTab('apikeys')"><i class="fa fa-key"></i> API Keys</a></li>
                        <li ng-class="{'active':app.user}"><a href="" ng-click="showTab('user')"><i class="fa fa-users"></i> User Auth</a></li>
                        <li ng-class="{'active':app.payment}"><a href="" ng-click="showTab('payment')"><i class="fa fa-credit-card"></i> Payment Gateways</a></li>
                        <li ng-class="{'active':app.logs}"><a href="" ng-click="showTab('logs')"><i class="fa fa-file-text-o"></i> Logs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-xs-10">
            <div ng-include="'./modules/appsettings/device.html'" ng-if="app.device"></div>
            <div ng-include="'./modules/appsettings/apikeys.html'" ng-if="app.apikeys"></div>
            <div ng-include="'./modules/appsettings/userauth.html'" ng-if="app.user"></div>
            <div ng-include="'./modules/appsettings/userlogs.html'" ng-if="app.logs"></div>
            <div ng-include="'./modules/appsettings/payments.html'" ng-if="app.payment"></div>
        </div>
    </div>
</section>
<!-- /.content -->
