<section class="content-header">
    <h1> Application Settings</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Application Settings</li>
    </ol>
</section>
<!-- Main content -->
<section class="assets content">
    <div class="row" role="search-row">
        <div class="col-md-2 col-xs-2" style="margin-right: -15px;">
            <div class="box box-solid">
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{'active':app.device}"><a href="" ng-click="showTab('device')"><img src="./images/icon/ic_tablet_mac_black_24px.svg"> Devices</a></li>
                        <li ng-class="{'active':app.apikeys}"><a href="" ng-click="showTab('apikeys')"><img src="./images/icon/ic_vpn_key_black_24px.svg"> API Keys</a></li>
                        <li ng-class="{'active':app.user}"><a href="" ng-click="showTab('user')"><img src="./images/icon/ic_people_black_24px.svg"> User Auth</a></li>
                        <li ng-class="{'active':app.payment}"><a href="" ng-click="showTab('payment')"><img src="./images/icon/ic_credit_card_black_24px.svg"> Payment Gateways</a></li>
                        <li ng-class="{'active':app.logs}"><a href="" ng-click="showTab('logs')"><img src="./images/icon/file-outline.svg"> Logs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-xs-10">
            <div ng-include="'./modules/appsettings/device.html'" ng-if="app.device"></div>
            <div ng-include="'./modules/appsettings/apikeys.html'" ng-if="app.apikeys"></div>
            <div ng-include="'./modules/appsettings/userauth.html'" ng-if="app.user"></div>
            <div ng-include="'./modules/appsettings/userlogs.html'" ng-if="app.logs"></div>
            <div ng-include="'./modules/appsettings/payments.html'" ng-if="app.payment"></div>
        </div>
    </div>
</section>
<!-- /.content -->
