<div class="box box-warning" ng-controller="appSettingsLogController">
    <div class="box-header">
        <h3 class="box-title">Application Logs</h3>
        <br>
        <br>
        <div class="pull-left">
            <form class="form-inline">
                <div class="form-group">
                    <a ng-click="searchData()" class="btn btn-flat btn-sm btn-success">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>
                </div>
            </form>
        </div>
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" ng-model="details.start_date" data-date-format="MM-dd-yyyy" data-max-date="{{details.end_date}}" bs-datepicker/>
                        </div>
                        <div class="input-group">
                            <input type="text" name="q" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearchUser" ng-change="(txtSearchUser.length < 1)?searchData():0">
                            <span class="input-group-btn">
                                <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0">
                                <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box-body table-responsive padding">
        <table class="table table-hover" ng-table="usersTable">
            <tr ng-repeat="row in $data  track by $index">
                <td class="text-center" data-title="'Name'">
                    <a ui-sref="main.settings-app-log({ 'userId': row.uc_id })">{{row.EmpName}}</a>
                </td>
                <td class="text-center" data-title="'Username'">
                    {{row.username}}
                </td>
                <td class="text-center" data-title="'Account Validity'">
                    {{row.valid_until | amDateFormat:'MM/DD/YYYY'}}
                </td>
                <td class="text-right" data-title="'Action'">
                    <a class="btn btn-flat btn-info btn-xs" uib-tooltip="View Userlogs" ng-click="viewUserLogs(row.uc_id)"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
        </table>
    </div>
</div>
