<div class="modal-header">
    <h3 class="modal-title">Product Information</h3>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Product Name" ng-model="details.item_name" />
                        <i class="bar"></i>
                        <small>(Product Name)</small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Product Code" ng-model="details.product_code" />
                        <i class="bar"></i>
                        <small>(Product Code)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <select class="form-control" ng-model="details.ptype_id" ng-options="option.ptype_id as option.name for option in ptypes" required />
                        </select>
                        <i class="zmdi zmdi-network selectiCon"></i>
                        <i class="bar"></i>
                        <small>(Product Type)</small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Product Brand" ng-model="details.brand" />
                        <i class="bar"></i>
                        <small>(Product Brand)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="number" required="required" placeholder="Selling Price" ng-model="details.sell_price" />
                        <i class="bar"></i>
                        <small>(Selling Price)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-4">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="number" ng-keyup="changeOf_PP(details.purchase_price,details.markup, details.retail_price)" required="required" placeholder="Purchase Price" ng-model="details.purchase_price" />
                        <i class="bar"></i>
                        <small>(Purchase Price)</small>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="number" ng-keyup="changeOf_MU(details.purchase_price,details.markup, details.retail_price)" required="required" placeholder="Mark Up" ng-model="details.markup" />
                        <i class="bar"></i>
                        <small>(Mark Up (%))</small>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="number" ng-keyup="changeOf_RP(details.purchase_price,details.markup, details.retail_price)" required="required" placeholder="Retail Price" ng-model="details.retail_price" />
                        <i class="bar"></i>
                        <small>(Retail Price)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.start_date" bs-datepicker/>
                        <i class="bar"></i>
                        <small>(Start Date)</small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.end_date" data-min-date="{{details.start_date}}" bs-datepicker/>
                        <i class="bar"></i>
                        <small>(End Date)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Product Barcode" ng-model="details.barcode" />
                        <i class="bar"></i>
                        <small>(Product Barcode)</small>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="imgInput">
                    </div>
                    <div class="col-sm-11">
                       <barcode type="{{mycode.type}}" render="img" string="{{details.barcode}}" options="barcodeoptions"></barcode>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="saveEntry()" class="btnss palette-Blue bg waves-effect">Save changes</button>
    <button ng-click="cancel()" class="btnss  bg waves-effect">Cancel</button>
</div>
