<div class="row">
    <form role="form" ng-submit="addProduct()">
        <div class="col-md-12">
            <div class=" box-warning m-0">
                <div class="box-header">
                    <!-- <h3 class="box-title">List of Products</h3> -->
                    <div class="pull-left disp-inline-flex">
                        <div class="w140">
                            <a class="mr-10 label-circle-button ml-5" ng-click="openAttributeModal()">
                                <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                    <img src="./images/icon/ic_black_white_24px.svg">
                                </button>Add Price
                            </a>
                        </div>
                        <div class="w140">
                            <a class="mr-10 label-circle-button ml-5" ng-click="saveCategory()">
                                <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                    <img src="./images/icon/ic_delete_black_24px.svg">
                                </button>Delete
                            </a>
                        </div>
                        <div class="w140">
                            <a class="mr-10 label-circle-button ml-5" ng-click="getAllCategory()">
                                <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                    <img src="./images/icon/refresh.svg">
                                </button>Refresh
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box-body p-0">
                    <table class="table table-striped footable" data-page-size="10" id="tblAttributes">
                        <thead>
                            <tr>
                                <th class="" data-sort-ignore="true">Name</th>
                                <th class="" data-sort-ignore="true">Label</th>
                                <th class="" data-sort-ignore="true">Description</th>
                                <th data-sort-ignore="true"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in itemArray" repeat-end="paginate()">
                                <td>
                                    {{var.name}}
                                </td>
                                <td>
                                    {{var.label}}
                                </td>
                                <td>
                                    <p data-ng-bind-html="var.description | limitTo: 90" data-ellipsis></p>
                                </td>
                                <td>
                                    <button ng-click="edit(product.p_id)" class="btn btn-info btn-xs btn-flat"><i class="glyphicon glyphicon-edit"></i></button>
                                    <button ng-click="edit(product.p_id)" class="btn btn-danger btn-xs btn-flat"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" align="center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
