<div class="row" ng-init="stocktrack = false;">
    <form role="form" name="productForm" ng-submit="addProduct()">
        <div class="col-md-12">
            <div class="product box-warning">
                <div class="s">
                    <h4 class="box-title">Product Info</h4>
                </div>
                <div class="box-body">
                    <div class="form-group pl-15" ng-if="details.p_id">
                        <label>Status: </label>
                        <span ng-if="details.is_published == 0 && details.is_archived == 0" class="label label-warning">draft</span>
                        <span ng-if="details.is_published == 1 && details.is_archived == 0" class="label label-success">published</span>
                        <span ng-if="details.is_archived == 1 && details.is_published == 0" class="label label-danger">archived</span>
                    </div>
                    <div class="form-group pl-15" ng-if="details.p_id">
                        <label>Views: </label>
                        <span class="badge bg-light-blue">{{details.product_views}}</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Name</label>
                        <input type="text" name="required" class="form-control" ng-model="details.item_name" placeholder="Product Name" required />
                        <!-- <span class="barzz"></span> -->
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label>Product Code</label>
                        <input type="text" ng-model="details.product_code" class="form-control" placeholder="Product Code" required />
                        <!-- <span class="barzz"></span> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Type</label>
                        <select class="form-control" ng-model="details.ptype_id" ng-options="option.ptype_id as option.name for option in ptypes" required />
                        </select>
                        <!-- <span class="barzz"></span> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Brand</label>
                        <input type="text" class="form-control" ng-model="details.brand" placeholder="Product Brand" required />
                        <!-- <span class="barzz"></span> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Price</label>
                        <!-- <div class="input-group"> -->
                        <!-- <span class="input-group-addon">$</span> -->
                        <input type="text" class="form-control" ng-model="details.sell_price" required valid-number>
                        <!-- <span class="barzz"></span> -->
                        <!-- </div> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Start Date: </label>
                        <!-- <div class="input-group"> -->
                        <!-- <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div> -->
                        <input type="text" class="form-control" ng-model="details.start_date" data-date-format="MM-dd-yyyy" data-max-date="{{details.end_date}}" bs-datepicker/>
                        <!-- <span class="barzz"></span> -->
                        <!-- </div> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>End Date: </label>
                        <!-- <div class="input-group"> -->
                        <!-- <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div> -->
                        <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.end_date" data-min-date="{{details.start_date}}" bs-datepicker/>
                        <!-- <span class="barzz"></span> -->
                        <!-- </div> -->
                    </div>
                    <div class="form-group col-md-6">
                        <label>Product Barcode</label>
                        <input type="text" ng-model="details.barcode" class="form-control" placeholder="Product Barcode" required />
                        <br>
                        <select class="form-control" ng-model="mycode.type" ng-options="option.type as option.code for option in barcodesType" ng-change="changeBarcodeType(mycode.type)" />
                        </select>
                        <!-- <span class="barzz"></span> -->
                    </div>
                    <div class="form-group col-md-6 text-center">
                        <barcode type="{{mycode.type}}" render="img" string="{{details.barcode}}" options="barcodeoptions"></barcode>
                    </div>
                    <div class="form-group col-md-12">
                        <label>
                            <input for="check" type="checkbox" class="checkbox ng-pristine ng-valid ng-empty ng-touched" ng-true-value="1" ng-false-value="0" ng-checked="details.is_visible == 1" ng-model="checkBoxValue" ng-true-value="true" ng-false-value="false">
                            <div id="check" class="lab"> Track Stock Level</div>
                        </label>
                    </div>
                    <div class=" form-group col-md-12" ng-show="checkBoxValue">
                        <div class="well p-0">
                            <div class="box-body  padding p-0">
                                <table class="table">
                                    <thead>
                                        <th>Qty.</th>
                                        <th>Unit</th>
                                        <th class="text-right">Re-order Level</th>
                                    </thead>
                                    <tbody>
                                        <td>
                                            <input type="text" class="form-control" name="" style="margin-top: 7px;" value="50">
                                        </td>
                                        <td>
                                            <!-- <select>
                                                <option>Box</option>
                                                <option>Boxes</option>
                                            </select> -->
                                            <div class=" btn-group mailbox-controls sdropdisp ">
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-sm btn-flat btn-default  dropdown-toggle ng-binding" data-toggle="dropdown" angular-ripple>
                                                            Box1
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a>Box1</a>
                                                            </li>
                                                            <li><a>Box2</a>
                                                            </li>
                                                            <li><a>Box3</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control" name="" style="margin-top: 7px;" value="50">
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group pl-15 pr-15">
                        <label>Overview</label>
                        <text-angular ta-toolbar="[
                            ['h1','h2','h3','h4','h5','h6','p','pre','bold','italics','underline','strikeThrough','ul','ol','undo','redo','clear'],
                            ['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent']
                        ]" ng-model="details.item_overview" required /></text-angular>
                    </div>
                    <div class="form-group pl-15 pr-15">
                        <label>Description</label>
                        <text-angular ng-model="details.item_description"></text-angular>
                    </div>
                    <div class="form-group pl-15 pr-15">
                        <label>Tags <i class="fa fa-tags"></i></label>
                        <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" on-remove="deleteProductTags($item)" multiple tagging="tagTransform" tagging-label="Enter Tag" ng-model="details.tags" theme="bootstrap" close-on-select="false">
                            <ui-select-match placeholder="Enter Tags...">{{$item.tags}}</ui-select-match>
                            <ui-select-choices repeat="tag in tagsArr | propsFilter: {tags: $select.search}">
                                <div ng-bind-html="tag.tags | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class=" box-warning">
                <div class="box-body">
                    <button type="submit" ng-disabled="productForm.$invalid" class="btn btn-primary  btn-flat btn-block">Save Entry</button angular-ripple>
                    <button class="btn btn-success  btn-flat btn-block" ng-show="showPublish" ng-click="publishProduct(details.p_id)" angular-ripple>Publish</button>
                    <button class="btn btn-danger  btn-flat btn-block" ng-show="showArchive" ng-click="archiveProduct(details.p_id)" angular-ripple>Archive</button>
                    <button class="btn btn-default  btn-block" ng-click="goBack()" angular-ripple>Cancel</button>
                </div>
            </div>
            <div class="form-group">
                <img ngf-src="details.img_default || 'http://placehold.it/250x250'" err-src="http://placehold.it/250x250" class="thumbnail" width="280" height="280" ng-if="details.img_default">
            </div>
        </div> -->
    </form>
</div>
<div class="box-body disp-inline-flex  pr-25 pb-20 fr">
    <button ng-click="goBack()" class="btnflat default-color waves-effect fr" angular-ripple>Cancel</button>
    <button ng-click="archiveProduct(details.p_id)" class="btnflat danger-color waves-effect ml-10 fr" angular-ripple>Archive</button>
    <button ng-show="showPublish" ng-click="publishProduct(details.p_id)" class="btnflat success-color waves-effect ml-10 fr" angular-ripple>Publish</button>
    <button type="submit" class="btnflat primary-color waves-effect ml-10 fr" ng-disabled="productForm.$invalid" angular-ripple>Save Entry</button>
</div>
