<div class="row" ng-controller="productStoreCtrl">
    <form role="form">
        <div class="col-md-12">
            <div class="box box-warning m-0">
                <div class="box-header">
                    <!-- <h3 class="box-title">List of Products</h3> -->
                    <div class="pull-left">
                        <form class="form-inline">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-flat btn-warning dropdown-toggle" data-toggle="dropdown" angular-ripple style="padding: 5px 20px !important;margin-right: 5px;">
                                    Status: <span ng-if="applicationStatus == ''">All</span><span ng-if="applicationStatus != ''">{{applicationStatus}}</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="top: 30px;margin-left: 0;">
                                    <li><a ng-click="updateStatus('')">All</a></li>
                                    <li><a ng-click="updateStatus('Product\'s Store')">Product's Store</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-primary pcombo btn-xs btn-flat mr-5" ng-click="saveStore()" >
                                <img src="./images/icon/ic_save_black_24px.svg"> Save
                            </button>
                            <a class="btn btn-default pcombo btn-xs btn-flat mr-5" ng-click="getAllStore()" >
                                <img src="./images/icon/refresh.svg"> Refresh
                            </a>
                        </form>
                    </div>
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat btn-sm btn-default" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0">GO</button>
                                        </div>
                                    </div> -->
                                    <div class="input-group imput">
                                        <input type="text" name="q" class="form-control searchinput input-sm" placeholder="Search" ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat gobutton btn-sm btn-default" ng-click="searchData()" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0" uib-tooltip="Search" angular-ripple style="padding: 4px 20px !important;margin-right: 10px;border: 1px solid #d2d6de;">GO</button>
                                        </div>
                                    </div>
                                   <!--  <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat searchicon btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0"><img src="./images/icon/ic_search_black_24px.svg"></button>
                                        </div>
                                        <input type="text" name="q" class="form-control searchinput input-sm ng-pristine ng-valid ng-empty ng-touched" placeholder="Search" ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat gobutton btn-sm btn-default" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0" uib-tooltip="Search" angular-ripple="" style="padding: 4px 20px !important;margin-right: 10px;border: 1px solid #d2d6de;">GO</button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body p-0">
                    <table class="table table-striped footable" data-page-size="10" id="tblStore">
                        <thead>
                            <tr>
                                <th width="10" data-sort-ignore="true" style="padding: 10px 8px;">
                                    <input type="checkbox" class="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                </th>
                                <th class="">Name</th>
                                <th class="">Address</th>
                                <th class="">Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in itemArray" repeat-end="paginate()">
                                <td angular-ripple>
                                    <input type="checkbox" class="checkbox" ng-model="var.selected" ng-change="checkStoresChanges(var)">
                                </td>
                                <td>
                                    {{var.name}}
                                </td>
                                <td>
                                    {{var.address}}
                                </td>
                                <td>
                                    {{var.owner_name}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" align="center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
