<div class="row" ng-controller="AccountPaymentCtrl">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cc-stripe text-primary"></i> Stripe 
                            <small ng-show="facebook.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>App Id</label>
                        <input type="text" class="form-control" ng-model="facebook.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>App Secret</label>
                        <input type="text" class="form-control" ng-model="facebook.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="facebook.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!facebook.isEnable" ng-click="enableSocialAuth('facebook')">Enable</a>
                <a class="btn btn-primary" ng-if="facebook.isEnable" ng-click="updateSocialAuth('facebook')">Update</a>
                <a class="btn btn-danger" ng-if="facebook.isEnable" ng-click="deleteSocialAuth('facebook')">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-paypal text-info"></i> Paypal 
                            <small ng-show="twitter.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Consumer Key (API Key)</label>
                        <input type="text" class="form-control" ng-model="twitter.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Consumer Secret (API Secret)</label>
                        <input type="text" class="form-control" ng-model="twitter.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="twitter.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!twitter.isEnable" ng-click="enableSocialAuth('twitter')">Enable</a>
                <a class="btn btn-primary" ng-if="twitter.isEnable" ng-click="updateSocialAuth('twitter')">Update</a>
                <a class="btn btn-danger" ng-if="twitter.isEnable" ng-click="deleteSocialAuth('twitter')">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cc-jcb text-danger"></i> JCB
                            <small ng-show="google.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-link" ng-click="isNavCollapsed2 = !isNavCollapsed2"><i class="fa fa-cog"></i></button>
                </div>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Client Id</label>
                        <input type="text" class="form-control" ng-model="google.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Client Secret</label>
                        <input type="text" class="form-control" ng-model="google.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="google.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!google.isEnable" ng-click="enableSocialAuth('google')">Enable</a>
                <a class="btn btn-primary" ng-if="google.isEnable" ng-click="updateSocialAuth('google')">Update</a>
                <a class="btn btn-danger" ng-if="google.isEnable" ng-click="deleteSocialAuth('google')">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cc-mastercard text-light-blue"></i> Mastercard
                        <small ng-show="linkedin.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Client Id</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Client Secret</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="linkedin.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!linkedin.isEnable" ng-click="enableSocialAuth('linkedin')">Enable</a>
                <a class="btn btn-primary" ng-if="linkedin.isEnable" ng-click="updateSocialAuth('linkedin')">Update</a>
                <a class="btn btn-danger" ng-if="linkedin.isEnable" ng-click="deleteSocialAuth('linkedin')">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cc-visa text-light-blue"></i> Visa
                        <small ng-show="linkedin.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Client Id</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Client Secret</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="linkedin.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!linkedin.isEnable" ng-click="enableSocialAuth('linkedin')">Enable</a>
                <a class="btn btn-primary" ng-if="linkedin.isEnable" ng-click="updateSocialAuth('linkedin')">Update</a>
                <a class="btn btn-danger" ng-if="linkedin.isEnable" ng-click="deleteSocialAuth('linkedin')">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cc-discover text-light-blue"></i> Discover
                        <small ng-show="linkedin.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Client Id</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Client Secret</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="linkedin.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!linkedin.isEnable" ng-click="enableSocialAuth('linkedin')">Enable</a>
                <a class="btn btn-primary" ng-if="linkedin.isEnable" ng-click="updateSocialAuth('linkedin')">Update</a>
                <a class="btn btn-danger" ng-if="linkedin.isEnable" ng-click="deleteSocialAuth('linkedin')">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-cc-amex text-light-blue"></i> American Express
                        <small ng-show="linkedin.isEnable">
                                <span style="margin-left: 5px;" class="label label-success">ACTIVE</span>
                            </small>
                        </h3>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <label>Client Id</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiKey" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Client Secret</label>
                        <input type="text" class="form-control" ng-model="linkedin.apiSecret" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label>Redirect URL</label>
                        <input type="text" class="form-control" ng-model="linkedin.redirectUri" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <a class="btn btn-primary" ng-if="!linkedin.isEnable" ng-click="enableSocialAuth('linkedin')">Enable</a>
                <a class="btn btn-primary" ng-if="linkedin.isEnable" ng-click="updateSocialAuth('linkedin')">Update</a>
                <a class="btn btn-danger" ng-if="linkedin.isEnable" ng-click="deleteSocialAuth('linkedin')">Delete</a>
            </div>
        </div>
    </div>
</div>
