<div class="modal-header">
    <h4>Update User Password</h4>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="imgInput">
                        <i class="zmdi zmdi-label-alt-outline"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Password" ng-model="account.password" />
                        <i class="bar"></i>
                        <small>(Current Password)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group  col-sm-12">
                    <div class="imgInput">
                        <i class="zmdi zmdi-label-alt-outline"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Confirm Password" ng-model="account.confirm_password" />
                        <i class="bar"></i>
                        <small>(Confirm Password)</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="saveChanges()" class="btnss palette-Blue bg waves-effect">Save</button>
    <button ng-click="cancel()" class="btnss bg waves-effect">Cancel</button>
</div>
