<div class="login-box">
    <div class="box-header login-logo">
        Forgot Password
    </div>
    <!-- /.login-logo -->
    <form ng-submit="forgotpass()">
        <div class="login-box-body">
            <div class="form-group has-feedback">
                <!-- <input type="email" class="form-control" ng-model="detail.email" placeholder="Email Address" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
                <input placeholder="Email Address" type="email" ng-model="detail.email" required>
            </div>
            <p class="forgotmsg">We'll send you an email with instructions on how to reset your password.</p>
            <!-- <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                </div>
            </div>
            <div class="social-auth-links text-center">
                <a ui-sref="login" class="btn btn-block btn-link">Back to Login</a>
            </div> -->
        </div>
        <div class="box-footer" style="padding: 20px 35px;">
            <button type="submit" class="btnflat waves-effect" angular-ripple>Submit</button>
            <button ui-sref="login" class="btnflat waves-effect" angular-ripple>Return to Login</button>
        </div>
    </form>
</div>
<style type="text/css">
.login-box input {
    margin: 20px 0;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #bfbfbf;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #262b33 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #262b33 4%);
    background-position: -500px 0;
    background-size: 500px 100%;
    background-repeat: no-repeat;
    color: #737373;
    font-weight: 500;
    letter-spacing: 1px;
}

.login-box input:focus,
.login-box input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.login-box input::-webkit-input-placeholder {
    /*font-family: 'roboto', sans-serif;*/
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-box input:focus::-webkit-input-placeholder,
.login-box input:valid::-webkit-input-placeholder {
    color: #262b33;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}
</style>
