<div class="modal-header">
    <h4>Manage Plan</h4>
</div>
<div class="modal-body">
    <form novalidate>
        <div class="row">
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="imgInput">
                        <i class="zmdi zmdi-rss"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Plan Name" ng-model="plan.name" />
                        <i class="bar"></i>
                        <small>(Plan Name)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="imgInput">
                        <i class="zmdi zmdi-label-alt-outline"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Label" ng-model="plan.label" />
                        <i class="bar"></i>
                        <small>(Plan Label)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="imgInput">
                        <img>
                    </div>
                    <div class="col-sm-11">
                        <textarea placeholder="Description" ng-model="plan.description"></textarea>
                        <i class="bar"></i>
                        <small>(Plan Description)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="imgInput">
                        <i class="zmdi zmdi-tag-more"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="Price" ng-model="plan.price" />
                        <i class="bar"></i>
                        <small>(Price)</small>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12">
                    <div class="imgInput">
                        <i class="zmdi zmdi-laptop-mac"></i>
                    </div>
                    <div class="col-sm-11">
                        <input type="text" required="required" placeholder="No. of Device" ng-model="plan.noOfDevice" />
                        <i class="bar"></i>
                        <small>(No. of Device)</small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="savePlan()" class="btnss palette-Blue bg waves-effect">Save changes</button>
    <button ng-click="cancel()" class="btnss  bg waves-effect">Cancel</button>
</div>
