<div class="overTop"></div>
<section class="content">
    <div class="row">
        <section class="col-lg-12">
            <div class="box">
                <div class="box-header palette-Light">
                    <h3 class="box-title">Subscription Plans
                    <small>List of Subscription Plans</small></h3>
                </div>
                <div class="boxSubheader">
                    <div class="input-group" style="width: 30%">
                        <span class="zmdi icon input-group-addon zmdi-search customSearch"></span>
                        <input type="text" class=" customSearchinput search-field form-control" placeholder="Search" ng-model="searchText">
                    </div>
                    <div class="actionBtnHolder" style=" margin-top: -33px;">
                        <button uib-tooltip="Create New" ng-click="createPlan()" class="actionBtn" style="padding: 1px 7px !important;"><i class="zmdi zmdi-playlist-plus"></i></button>
                        <button uib-tooltip="Refresh" ng-click="refreshPlan()" class="actionBtn" style="padding: 1px 9px !important;"><i class="zmdi zmdi-refresh"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-plans footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th data-sort-ignore="true">
                                    <label>
                                        <input id="cbxHead" type="checkbox" class="cbx" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()" />
                                        <label for="cbxHead" class="lbl positionCheckbox"></label>
                                    </label>
                                </th>
                                <!-- <th data-type="numeric" data-sort-initial="true">ID</th> -->
                                <th>Name</th>
                                <th>Label</th>
                                <th data-sort-ignore="true">Description</th>
                                <th>Price</th>
                                <th data-sort-ignore="true"># of Device</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="plan in names | filter:searchText" ng-repeat-end-watch="myFunction">
                                <td>
                                    <label>
                                        <input id="cbxBody-{{$index}}" type="checkbox" class="cbx" ng-model="req.selected" />
                                        <label for="cbxBody-{{$index}}" class="lbl positionCheckbox"></label>
                                    </label>
                                </td>
                                <td><a ui-sref="main.plan.detail({'_id': plan._id})">{{plan.name}}</a></td>
                                <td>{{plan.label}}</td>
                                <td>{{plan.description}}</td>
                                <td>{{plan.price | number:2}}</td>
                                <td>{{plan.noOfDevice}}</td>
                                <td class="text-right">
                                    <button ng-click="editPlan(plan._id)" class="btn btn-icon command-edit waves-effect waves-circle"><span class="zmdi zmdi-edit"></span></button>
                                    <button ng-click="deletePlan(plan._id)" class="btn btn-icon command-edit waves-effect waves-circle"><span class="zmdi zmdi-delete"></span></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
    </div>
</section>
<!-- /.content -->
