<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> <i class="fa fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Subscribers</span>
                    <h2>{{dashboard.subscribers}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-stats-bars"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Subscription</span>
                    <h2>{{dashboard.active_sub}}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-person-add"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Request</span>
                    <h2>{{dashboard.active_req}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <section class="col-lg-6 connectedSortable">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Subscription Requests</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="todo-list">
                        <li ng-repeat="req in request | orderBy:'-date_created' | limitTo:5">
                            <a href="" ng-click="getSubscriptionRequestDetail(req.sr_id)">
                                <span class="text">{{req.company_name}} <small>{{req.firstname}} {{req.lastname}}</small></span>
                            </a>
                            <!-- Emphasis label -->
                            <small class="pull-right label label-success" ng-if="req.is_approved == 1 && req.deny_date == null">Approved ( <i class="fa fa-clock-o"></i> {{req.approved_date | amDateFormat:'MM.DD.YYYY'}})</small>
                            <small class="pull-right label label-danger" ng-if="req.is_approved == 0 && req.deny_date != null">Denied</small>
                            <small class="pull-right label label-danger" ng-if="req.is_approved == 1 && req.approved_date !=null && req.deny_date != null">Denied</small>
                            <small class="pull-right label label-warning" ng-if="req.is_approved == 0 && req.deny_date == null && req.approved_date ==null">Pending</small>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col-lg-6 connectedSortable">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">New Subscribers</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="todo-list">
                        <li ng-repeat="req in accounts | orderBy:'-date_created' | limitTo:5">
                            <a href="" ng-click="getAccountDetails(req.sub_id)">
                                <span class="text">{{req.company_name}} <small>{{req.firstname}} {{req.lastname}}</small></span>
                            </a>
                            <!-- Emphasis label -->
                            <small class="pull-right label label-success"><i class="fa fa-clock-o"></i> {{req.approved_date | amDateFormat:'MM.DD.YYYY'}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- /.row (main row) -->
</section>
<!-- /.content -->
