<div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> -->
    <div class="dis_table">
        <div class="dis_cell">
            <h4 class="modal-title">Share</h4>
        </div>
        <div class="dis_cell">
            <button type="button" class="close" ng-click="cancel()">
                <i class="fa fa-times" aria-hidden="true" style="font-size:35px;"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 pad20all">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon2">Email</span>
                <input type="text" class="form-control" placeholder="Email Address" ng-model="data.email">
            </div>
        </div>
    </div>
    <div id="printarticle" ng-include="'./views/sharer/article.html'" ng-if="param === 'article'" style="display:none;"></div>
    <div id="printbundle" ng-include="'./views/sharer/bundle.html'" ng-if="param === 'bundle'" style="display:none;"></div>
    <div id="printproduct" ng-include="'./views/sharer/products.html'" ng-if="param === 'product'" style="display:none;"></div>
    <div id="printquote" ng-include="'./views/sharer/sharer-quote.html'" ng-if="param === 'quote'" style="display:none;"></div>
    <div id="printpdfquote" ng-include="'./views/sharer/pdf-quote.html'" ng-if="param === 'quote'" style="display:none;"></div>
    <!--
    =================
    =================
    =================
    =================
    ================= -->
    <!-- <div id="printarticle" ng-include="'./views/sharer/article.html'" ng-if="param === 'article'"></div>
    <div id="printbundle" ng-include="'./views/sharer/bundle.html'" ng-if="param === 'bundle'"></div>
    <div id="printproduct" ng-include="'./views/sharer/products.html'" ng-if="param === 'product'"></div>
    <div id="printquote" ng-include="'./views/sharer/sharer-quote.html'" ng-if="param === 'quote'"></div>
    <div id="printpdfquote" ng-include="'./views/sharer/pdf-quote.html'" ng-if="param === 'quote'"></div> -->
</div>
<div id="compare-page" class="wrapper">
    <div class="breadcrumbs ">
        <img src="./images/icons/ico_compare01-01.svg" />
        <a class="current font_medium">
            Product Comparison
        </a>
    </div>
    <div id="compare_products">
        <table cellspacing="0" cellpadding="0" ng-if="compareproducts.length >0" style="width:100%; ">
            <thead>
                <tr class="border-bottom compare_head" style="background: white;">
                    <td style=" vertical-align: bottom; padding: 10px;">
                    </td>
                    <td ng-repeat="value in compareproducts">
                        <a class="remove" style="background: #ffffff;">
                        </a>
                        <div class="img_holder">
                            <img ng-repeat="image in value.product_images | limitTo:1" ng-src="{{image.image_path}}" />
                        </div>
                        <div class="img_holder" ng-if="value.value">
                            <img ng-src="{{value.value}}" />
                        </div>
                        <div class="font_medium grey2 padding_10">
                            {{value.bundle_name || value.item_name}}
                            <div>
                                <a class="font_12 ">
                                View Info
                            </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <!--Software-->
                <tr class=" compare_body">
                    <td colspan="5" class=" row_label">
                        <a ng-click="viewSoftware =!viewSoftware">

                        SOFTWARE <i class="fa fa-caret-right"></i>
                    </a>
                    </td>
                </tr>
                <tr ng-hide="viewSoftware" class=" compare_body">
                    <td class="td-label">CMS</td>
                    <td ng-repeat="item in compareproducts track by $index ">
                        {{item.bundle_name || item.item_name}}
                    </td>
                </tr>
                <tr ng-hide="viewSoftware" class="border-bottom compare_body">
                    <td class="td-label">Application</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.software">
                            {{item.product_detail.item_name || item.item_name}}
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        {{items.solution.bundle_name}}
                    </td>
                </tr>
                <!--Hardware-->
                <tr class="compare_body">
                    <td colspan="6" class="row_label">
                        <a ng-click="viewHardware =!viewHardware">
                        HARDWARE <i class="fa fa-caret-right"></i>
                    </a>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Screens</td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Screen model</td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Screen size</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_label == 'Screen' || item.category_id == 80">
                            <div ng-repeat="screen in item.attributes" ng-if="screen.attribute == 'Screen Size'">
                                {{screen.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Screen Size'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Screen bezel</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_label == 'Screen' || item.category_id == 80">
                            <div ng-repeat="screen in item.attributes" ng-if="screen.attribute == 'Bezel Size'">
                                {{screen.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Bezel Size'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Screen dimensions</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_label == 'Screen' || item.category_id == 80">
                            <div ng-repeat="screen in item.attributes" ng-if="screen.attribute == 'Dimensions'">
                                {{screen.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Dimensions'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Mounting configuration</td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Media player</td>
                    <td ng-repeat="items in compareproducts track by $index">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            {{item.product_detail.item_name}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Media Player Model</td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Processor</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'Processor'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Processor'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">RAM</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'RAM'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'RAM'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Storage</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'Storage'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Storage'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="compare_body">
                    <td class="td-label">Maximum resolution</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.pb_id">
                        <div ng-repeat="item in items.hardware" ng-if="item.category_id == 83 || item.category_label == 'Media Player'">
                            <div ng-repeat="media in item.attributes" ng-if="media.name == 'Maximum Resolution'">
                                {{media.value}}
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.p_id">
                        <div ng-repeat="screen in items.attributes.attribute_values" ng-if="screen.attribute == 'Maximum Resolution'">
                            {{screen.value}}
                        </div>
                    </td>
                </tr>
                <tr ng-hide="viewHardware" class="border-bottom compare_body">
                    <td class="td-label">Number of screens supported</td>
                </tr>
                <!--Deployment-->
                <tr class="compare_body">
                    <td colspan="6" class="row_label">
                        <a ng-click="viewSupport=!viewSupport">
                        SUPPORT TYPE <i class="fa fa-caret-right"></i>
                    </a>
                    </td>
                </tr>
                <tr ng-hide="viewSupport" class="compare_body">
                    <td class="td-label">Essential</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.support">
                        <div ng-repeat="item in items.support" ng-if="item.supp.length > 0">
                            ✔
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="!items.support">
                        X
                    </td>
                </tr>
                <tr ng-hide="viewSupport" class="border-bottom compare_body">
                    <td class="td-label">Enterprise</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.support">
                        <div ng-repeat="item in items.support" ng-if="item.product_detail.item_name == 'Enterprise Support'">
                            ✔
                        </div>
                    </td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="!items.support">
                        X
                    </td>
                </tr>
                <!--Support-->
                <tr class=" compare_body">
                    <td colspan="6" class=" row_label">
                        <a ng-click="viewPrice=!viewPrice">
                        PRICE <i class="fa fa-caret-right"></i>
                    </a>
                    </td>
                </tr>
                <tr ng-show="viewPrice" class="compare_body">
                    <td class="td-label">Capex</td>
                    <td ng-repeat="items in compareproducts track by $index">
                        {{items.upfront || items.sell_price | currency}} <small>upfront*</small>
                    </td>
                </tr>
                <tr ng-show="viewPrice" class="border-bottom compare_body">
                    <td class="td-label">Opex</td>
                    <td ng-repeat="items in compareproducts track by $index" ng-if="items.weekly">
                        {{items.weekly | currency}} <small>per month*</small>
                    </td>
                </tr>
                <!--  -->
            </tbody>
        </table>
        <div ng-if="compareproducts.length == 0" class="flexi-pad center_align">
            <div class="font_18">No products to compare yet.</div>
            <br>
            <button type="button" class="tes-btn bg-violet" ui-sref="main.productCatalogue"><img src="./images/icons/ico_store00_nav.svg" style="width: 23px;" /> Browse Product Catalogue</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
    <button class="btn btn-primary" type="button" ng-click="send()" ng-disabled="!data.email" fa-track-event="['quote','share',details.type,details.quote_id]">Share</button>
</div>
<style>
#active-compare {
    background: #424242;
}
</style>
