<div class="overTop"></div>
<section class="content">
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header palette-Light">
                    <h3 class="box-title">Subscription
                    <small>Basic Information</small></h3>
                </div>
                <form name="myform" role="form" ng-submit="addSubscriptionRequest()">
                    <div class="form-body">
                        <dl class="dl-horizontal">
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <i class="zmdi zmdi-account"></i>
                                    </div>
                                    <div class="col-sm-11">
                                        <select ng-model="details.person" ng-disabled="!IsExisting" ng-options="item as (item.lastname + ', ' + item.firstname) for item in subscribers">
                                            <option value="" disabled selected style="display: none;">Select</option>
                                        </select>
                                        <i class="zmdi zmdi-network selectiCon"></i>
                                        <i class="bar"></i>
                                        <small ng-if="IsExisting">(Select Existing Subscriber)</small>
                                    </div>
                                </div>
                                <div class="checkbox col-sm-6" style="padding-left: 0;margin-left: -25px;">
                                    <label>
                                        <input id="cb" type="checkbox" class="cbx" ng-model="IsExisting"/>
                                        <label for="cb" class="lbl positionCheckbox padaplinCB">Existing Subscriber</label>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <i class="zmdi zmdi-rss"></i>
                                    </div>
                                    <div class="col-sm-11">
                                        <select ng-model="details.plan_id" ng-options="item.plan_id as (item.name + '('+(item.label)+')' + '-' +item.price) for item in plans">
                                            <option value="" disabled selected style="display: none;">Select</option>
                                        </select>
                                        <i class="zmdi zmdi-network selectiCon"></i>
                                        <i class="bar"></i>
                                        <small>(Subscription Plan)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <i class="zmdi zmdi-city-alt"></i>
                                    </div>
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Company Name" ng-model="details.company_name" />
                                        <i class="bar"></i>
                                        <small class="reqField">(Required Field)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <i class="zmdi zmdi-account"></i>
                                    </div>
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="First Name" ng-model="details.firstname" />
                                        <i class="bar"></i>
                                        <small>(First Name)</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Last Name" ng-model="details.lastname" />
                                        <i class="bar"></i>
                                        <small>(Last Name)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <img src="/images/ic_email_black_24px.svg">
                                    </div>
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Email" ng-model="details.email" />
                                        <i class="bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <img src="/images/ic_location_on_black_24px.svg">
                                    </div>
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Address" ng-model="details.address1" />
                                        <i class="bar"></i>
                                        <small>(Primary Address)</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Address" ng-model="details.address2" />
                                        <i class="bar"></i>
                                        <small>(Secondary Address)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <img>
                                    </div>
                                    <div class="col-sm-11">
                                        <select ng-model="details.country" ng-options="item.id as item.name for item in countries" ng-change="getStateDetails(details.country)">
                                            <option value="" selected style="display: none;">Select</option>
                                        </select>
                                        <i class="zmdi zmdi-network selectiCon"></i>
                                        <i class="bar"></i>
                                        <small>(Country)</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-11">
                                        <select ng-model="details.state" ng-options="item.id as item.name for item in states" ng-change="getCitiesDetails(details.state)">
                                            <option value="" selected style="display: none;">Select</option>
                                        </select>
                                        <i class="zmdi zmdi-network selectiCon"></i>
                                        <i class="bar"></i>
                                        <small>(State)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <img>
                                    </div>
                                    <div class="col-sm-11">
                                        <select ng-model="details.city" ng-options="item.id as item.name for item in cities">
                                            <option value="" selected style="display: none;">Select</option>
                                        </select>
                                        <i class="zmdi zmdi-network selectiCon"></i>
                                        <i class="bar"></i>
                                        <small>(City)</small>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Zip Code" ng-model="details.zipcode" />
                                        <i class="bar"></i>
                                        <small>(Zip Code)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <div class="imgInput">
                                        <i class="zmdi zmdi-phone"></i>
                                    </div>
                                    <div class="col-sm-11">
                                        <input type="text" required="required" placeholder="Contact" ng-model="details.phone" />
                                        <i class="bar"></i>
                                    </div>
                                </div>
                            </div>
                        </dl>
                    </div>
                    <div class="row no-print">
                        <div class="col-xs-12 btnHolder">
                            <button type="submit" class="btnss palette-Blue bg waves-effect">Save</button>
                            <a href="" ng-click="back()" class="btnss bg waves-effect">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
<style type="text/css">
</style>
