<!-- Content Header (Page header) -->
<div class="overTop"></div>
<!-- Main content -->
<section class="content ng-scope">
    <div class="row">
        <section class="col-lg-12">
            <div class="box">
                <div class="box-header palette-Light">
                    <h3 class="box-title">Customer Subscription Request
                    <small>List of Customer Subscription Request</small></h3>
                </div>
                <div class="boxSubheader">
                    <div class="subHeaderLabel">Search by Status</div>
                    <div class="input-group" style="width: 50%;">
                        <div class="input-group-btn">
                            <button class="btn searchBtn dropdown-toggle ng-binding" data-toggle="dropdown">
                                <span ng-if="applicationStatus == ''">All</span>
                                <span ng-if="applicationStatus != ''">{{applicationStatus}}</span>
                                <i class="zmdi zmdi-network"></i>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu search" role="menu">
                                <li>
                                    <a ng-click="updateStatus('')">All</a>
                                </li>
                                <li>
                                    <a ng-click="updateStatus('Pending')">Pending</a>
                                </li>
                                <li>
                                    <a ng-click="updateStatus('Approved')">Approved</a>
                                </li>
                                <li>
                                    <a ng-click="updateStatus('Denied')">Denied</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actionBtnHolder">
                        <button ng-click="addNewRequest()" class="actionBtn" style="padding: 1px 7px !important;"><i class="zmdi zmdi-playlist-plus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-subscription footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th data-sort-ignore="true">
                                    <label>
                                        <input id="cbxHead" type="checkbox" class="cbx" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()" />
                                        <label for="cbxHead" class="lbl positionCheckbox"></label>
                                    </label>
                                    <!-- </div> -->
                                </th>
                                <th>Compay Name</th>
                                <th>Full Name</th>
                                <th>Address</th>
                                <th>Account Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="req in request" ng-repeat-end-watch="myFunction">
                                <td>
                                    <label>
                                        <input id="cbxBody-{{$index}}" type="checkbox" class="cbx" ng-model="req.selected" />
                                        <label for="cbxBody-{{$index}}" class="lbl positionCheckbox"></label>
                                    </label>
                                </td>
                                <td><a ui-sref="main.subscriptionrequest.detail({'sr_id': req.sr_id})">{{req.company_name}}</a></td>
                                <td><a ui-sref="main.subscriptionrequest.detail({'sr_id': req.sr_id})">{{req.lastname+','+ req.firstname }}</a></td>
                                <td>{{req.address1 +','+ req.city+','+ req.zipcode}}</td>
                                <td>
                                    <ul class="lgi-attrs">
                                        <li ng-if="req.isExisting == 1"><span style="color:#4caf50">Existing</span></li>
                                        <li ng-if="req.isExisting == 0"><span style="color:#2196F3">New</span></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="lgi-attrs">
                                        <li ng-if="req.is_approved == 1 && req.deny_date == null"><span style="color:#4caf50">Approved</span></li>
                                        <li ng-if="req.is_approved == 0 && req.deny_date != null"><span style="color:#f44336">Denied</span></li>
                                        <li ng-if="req.is_approved == 0 && req.deny_date == null && req.approved_date ==null"><span style="color:#ff9800">Pending</span></li>
                                    </ul>
                                    <!--   <span ng-if="req.is_approved == 1 && req.deny_date == null" class="label label-success">approved</span>
                                    <span ng-if="req.is_approved == 0 && req.deny_date != null" class="label label-danger">denied</span>
                                    <span ng-if="req.is_approved == 0 && req.deny_date == null && req.approved_date ==null" class="label label-warning">pending</span> -->
                                </td>
                                <td class="text-right">
                                    <!-- <button ng-click="getSubscriptionRequestDetail(req.sr_id)" class="btn btn-info btn-xs btn-flat"><i class="glyphicon glyphicon-edit"></i></button> -->
                                    <a ui-sref="main.subscriptionrequest.detail({sr_id:req.sr_id})" class="btn btn-icon command-edit waves-effect waves-circle">
                                        <span class="zmdi zmdi-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
                <!-- /.box -->
            </div>
        </section>
    </div>
</section>
