<div class="wrapper">
    <div class="ctn border-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="ctn-ico">
                    <img src="./images/icons/ico_compare01-01.svg" />
                    <h2 class="fg-sky">Product Comparison</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="font_medium dis-menu">
        <div class=" row">
            <div class=" col-lg-12">
                <button type="button" class="btn bg-sky">
                    <i class="fa fa-share"></i> <span class="sm_hid">Share</span>
                </button>
                <button type="button" class="btn bg-midnight" ui-sref="main.productCatalogue">
                    <div class="ctn-ico">
                        <img src="./images/icons/ico_store00_nav.svg" />
                        <span class="sm_hid">Browse Products</span>
                    </div>
                </button>
            </div>
        </div>
    </div>


    <!------------------------->
    <!--Column Implementation-->
    <!------------------------->
    <div class="ctn">
        <div class="row">
            <div ng-repeat="group in compareproducts" class="col-lg-3 col-xs-6">
                <!--One Product Instance-->
                <div class="cpr-ctn">
                    <div class="cpr-head center_align">
                        <h3>
                            {{group.bundle_name || group.item_name}}
                        </h3>
                        <br>
                        <h5>
                            <a>View Details</a> | <a ng-click="removeItem(group)"> Remove</a>
                        </h5>
                    </div>
                    <div class="dis-img" ng-repeat="image in group.product_images|limitTo:1">
                        <img src="{{image.image_path}}" />
                    </div>
                    <br>
                    <!------------------------------>
                    <!--Show Products per Category-->
                    <!------------------------------>
                    <div class="product-spec" >
                        <div class="sec-head">
                            <h4>
                            SOFTWARE
                            </h4>
                        </div>
                        <!-- <div class="atb-dtl">
                            <div class="atb">
                                <h6>CMS</h6>
                                <p>Eze Impress Media Player Only (Essential)</p>
                            </div>
                        </div> -->
                        <div class="atb-dtl"  ng-repeat="(key,value) in (group.software | groupBy: 'category_label')">
                            <!-- MEDIA PLAYER -->
                            <div class="atb" ng-repeat="val in value">
                                <h6>{{key}}</h6>
                                <p>{{val.product_detail.item_name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-spec" ng-repeat="hardware in group.hardware" ng-if="hardware.comparable == 1">
                        <div class="sec-head">
                            <h4>
                        {{hardware.category_label}}
                            </h4>
                        </div>
                        <!-- <div class="atb-dtl">
                            <div class="atb">
                                <h6>CMS</h6>
                                <p>Eze Impress Media Player Only (Essential)</p>
                            </div>
                        </div> -->
                        <div class="atb-dtl" ng-repeat="values in hardware.atrribute">
                            <!-- MEDIA PLAYER -->
                            <div class="atb" ng-if="values.is_comparable ==1">
                                <h6>{{values.attribute}}</h6>
                                <p>{{values.value}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- HARDWARE -->
                    <div class="product-spec" ng-if="group.p_id">
                        <div class="sec-head">
                            <h4>
                         {{group.type}}
                            </h4>
                        </div>
                        <div class="atb-dtl" ng-repeat="attribute in group.attributes" ng-if="attribute.is_comparable ==1">
                            <div class="atb">
                                <h6>{{attribute.attribute}}</h6>
                                <p>{{attribute.value}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-spec">
                        <div class="sec-head">
                            <h4>
                            SUPPORT TYPE
                            </h4>
                        </div>
                        <!-- <div class="atb-dtl">
                            <div class="atb">
                                <h6>CMS</h6>
                                <p>Eze Impress Media Player Only (Essential)</p>
                            </div>
                        </div> -->
                        <div class="atb-dtl">
                            <!-- MEDIA PLAYER -->
                            <div class="atb">
                                <h6>Essential</h6>
                                <div ng-if="group.support">
                                    <p ng-repeat="item in group.support" ng-if="item.supp.length > 0">✔</p>
                                    <p ng-repeat="item in group.support" ng-if="item.supp.length == 0">X</p>
                                </div>
                                <div ng-if="!group.support">
                                    <p>X</p>
                                </div>
                                <h6>Enterprise</h6>
                                <div ng-if="group.support">
                                    <p ng-repeat="item in group.support" ng-if="item.supp.length > 0">✔</p>
                                    <p ng-repeat="item in group.support" ng-if="item.supp.length == 0">X</p>
                                </div>
                                <div ng-if="!group.support">
                                    <p>X</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-spec">
                        <div class="sec-head">
                            <h4>
                            PRICE
                            </h4>
                        </div>
                        <!-- <div class="atb-dtl">
                            <div class="atb">
                                <h6>CMS</h6>
                                <p>Eze Impress Media Player Only (Essential)</p>
                            </div>
                        </div> -->
                        <div class="atb-dtl">
                            <!-- MEDIA PLAYER -->
                            <div class="atb" ng-if="group.pb_id">
                                <h6>Capex</h6>
                                <p>{{group.upfront || group.sell_price | currency}}</p>
                                <h6>Opex</h6>
                                <p>{{group.weekly || currency}}</p>
                            </div>
                            <div class="atb" ng-if="group.p_id">
                                <h6>Capex</h6>
                                <p>{{group.sell_price | currency}}</p>
                            </div>
                        </div>
                    </div>
                    <!------------------------------>
                    <!------------------------------>
                    <br>
                    <button type="button" class="tes-btn bg-green" ng-click="addToCart(group)">
                        <i class="fa fa-shopping-cart"></i> ADD TO CART
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!---------------------->
    <!--Row Implementation-->
    <!---------------------->

    <br><br>


    <div class="ctn">
        <div class="row">
            <div class=" col-xs-3 center_align">
                <div class="cpr-ctn">
                    <div class="cpr-head">
                        <h3 class="fg-dark">
                            Eze Impress Media Player Only (Essential)
                        </h3>
                        <br>
                        <h5>
                            <a>View Details</a> | <a> Remove</a>
                        </h5>
                    </div>

                    <div class="dis-img">
                        <img src="../../images/sample-hardware-1.png"/>
                    </div>
                </div>

            </div>
            <div class=" col-xs-3 center_align">
                <div class="cpr-ctn">
                    <div class="cpr-head">
                        <h3 class="fg-dark">
                            Eze Impress Media Player Only (Essential)
                        </h3>
                        <br>
                        <h5>
                            <a>View Details</a> | <a> Remove</a>
                        </h5>
                    </div>

                    <div class="dis-img">
                        <img src="../../images/sample-hardware-1.png"/>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="ctn"><!--Ng-repeat-->
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-head">
                    <h4>
                        Software <!-- attribute goes here-->
                    </h4>
                </div>

            </div>
        </div>
        <div class="row atb-itm">
            <div class=" col-xs-3 "><!--ng-repeat this-->
                <div class="atb"><!--ng-repeat this-->
                    <h6>CMS</h6>
                    <p>Eze Impress Media Player Only
                        (Essential)</p>
                </div>
                <div class="atb"><!--ng-repeat this-->
                    <h6>CMS</h6>
                    <p>Eze Impress Media Player Only
                        (Essential)</p>
                </div>
            </div>

        </div>
    </div>
    
    <div class="ctn"><!--For next category sample-->
        <div class="row">
            <div class="col-lg-12">
                <div class="sec-head">
                    <h4>
                        Software <i class="fa fa-angle-down"></i>
                    </h4>
                </div>

            </div>
        </div>
        <div class="row atb-itm">

            <div class=" col-xs-3 "><!--ng-repeat this-->
                <div class="atb">
                    <h6>CMS</h6>
                    <p>Eze Impress Media Player Only
                        (Essential)</p>
                </div>
                <div class="atb">
                    <h6>CMS</h6>
                    <p>Eze Impress Media Player Only
                        (Essential)</p>
                </div>
            </div>
        </div>
    </div>


    <div class="ctn">

        <div class="row ">
            <div class=" col-xs-3 "><!--ng-repeat this-->
                <button type="button" class="tes-btn bg-green">
                    <i class="fa fa-shopping-cart"></i> ADD TO CART
                </button>
            </div>
            <div class=" col-xs-3 "><!--ng-repeat this-->
                <button type="button" class="tes-btn bg-green">
                    <i class="fa fa-shopping-cart"></i> ADD TO CART
                </button>
            </div>
        </div>
    </div>

</div>

<style>
    #active-compare {
        background: #424242;
    }
</style>
