<div class="modal-header">
    <h3 class="modal-title">Manage Modules</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Name" ng-model="module.name" ng-required="true" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupDesc" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" placeholder="Description" ng-model="module.description" ng-required="true" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Sort Order</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" placeholder="Sort Order" ng-model="module.sortorder" ng-required="true" >
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-flat btn-primary" ng-click="saveModule()">Save</button>
    <button class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
</div>
