<div id="account-page">
    <div class="row">
        <div class="flexi-wrap">
            <div class="col-md-3">
                <div class="panel panel-profile">
                    <div class="panel-body">
                        <img src="../../images/test_02.jpg" class="img-circle"/>
                        <div class="name"> Robin Thick</div>
                        <div class="info"> Chubbels</div>
                    </div>
                </div>
                <div class="font_medium list-group list-group-alternate mb-n nav nav-tabs">
                    <a role="tab" class=" list-group-item">
                        <i class="ti ti-user"></i>
                        About
                    </a>
                    <a role="tab" class="list-group-item">
                        <i class="fa fa-edit"></i>
                        General Info Settings
                    </a>
                    <a role="tab" class="list-group-item">
                        <i class="fa fa-edit"></i>
                        Account Settings
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="">
                    <div class="" id="tab-">
                        <div class="panel ">

                            <div class="breadcrumbs font_medium dis_table" style="padding:0;">
                                <div class="dis_cell blue1 current padding_10">
                                    <i class="fa fa-user"></i>
                                    User Profile
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="about-area">
                                    <h4>Basic Information</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th>Name</th>
                                                <td>Julian Peter Eugenio</td>
                                            </tr>
                                            <tr>
                                                <th>Display Name</th>
                                                <td>juliandagaang</td>
                                            </tr>
                                            <tr>
                                                <th>Email Address</th>
                                                <td>juliandagaang@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>RER Subd Tini</td>
                                            </tr>
                                            <tr>
                                                <th>Mobile Number</th>
                                                <td>2366</td>
                                            </tr>
                                            <tr>
                                                <th>Time Zone</th>
                                                <td>Yow</td>
                                            </tr>


                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">


                <div class="panel">
                    <div class="breadcrumbs font_medium dis_table" style="padding:0;">
                        <div class="dis_cell blue1 current padding_10">
                            Update General Info
                        </div>
                    </div>
                    <div class="panel-body">


                        <div class="form-horizontal tabular-form">
                            <div class="form-group">
                                <label for="form-name" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="text" class="form-control" id="form-name" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-website" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="text" class="form-control" id="form-website" placeholder="http://">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="form-password" class="col-sm-2 control-label">Display Name</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="password" class="form-control" id="form-password"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-website" class="col-sm-2 control-label">Email Address</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="text" class="form-control" id="form-website" placeholder="http://">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-website" class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="text" class="form-control" id="form-website" placeholder="http://">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-website" class="col-sm-2 control-label">Mobile Number</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="text" class="form-control" id="form-website" placeholder="http://">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-website" class="col-sm-2 control-label">Time Zone</label>
                                <div class="col-sm-8 tabular-border">
                                    <input type="text" class="form-control" id="form-website" placeholder="http://">
                                </div>
                            </div>


                        </div>


                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn-primary btn">Save Changes</button>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-sm-9">
                <div class="panel">
                    <div class="breadcrumbs font_medium dis_table" style="padding:0;">
                        <div class="dis_cell blue1 current padding_10">
                            Update Account
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="card-box">
                            <div class="dis_table">

                                <div class="dis_cell ">
                                    <div class="flexi-box">
                                        <div class="flexi-box-head">
                                            Update Username
                                        </div>
                                        <div class="flexi-box-body">
                                            <div class="form-label">
                                                Username
                                            </div>
                                            <input type="text" class="form-control ">
                                        </div>
                                        <div class="flexi-box-foot">
                                            <button type="button" class="tes-btn bg-sky">Update</button>
                                        </div>


                                    </div>
                                </div>
                                <div class="dis_cell ">
                                    <div class="flexi-box">
                                        <div class="flexi-box-head">
                                           Recovery Email
                                        </div>
                                        <div class="flexi-box-body">
                                            <div class="form-label">
                                                Email
                                            </div>
                                            <input type="text" class="form-control ">
                                        </div>
                                        <div class="flexi-box-foot">
                                            <button type="button" class="tes-btn bg-sky">Update</button>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-box">
                            <div class="dis_table">

                                <div class="dis_cell ">
                                    <div class="flexi-box">
                                        <div class="flexi-box-head">
                                            Update Username
                                        </div>
                                        <div class="flexi-box-body">
                                            <div class="form-ctn">
                                                <div class="form-label">
                                                    New Password
                                                </div>
                                                <input type="password" class="form-control ">
                                            </div>
                                            <div class="form-ctn">
                                                <div class="form-label">
                                                    Password
                                                </div>
                                                <input type="password" class="form-control ">
                                            </div>


                                        </div>
                                        <div class="flexi-box-foot">
                                            <button type="button" class="tes-btn bg-sky">Update</button>
                                        </div>


                                    </div>
                                </div>
                                <div class="dis_cell ">
                                    <div class="flexi-box">
                                        <div class="flexi-box-head">
                                            Connect to Social Media Accounts
                                        </div>
                                        <div class="flexi-box-body font_medium">
                                            <button type="button" class="btn btn-label btn-social btn-facebook">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </button>
                                            <button type="button" class="btn btn-label btn-social btn-googleplus">
                                                <i class="fa fa-google"></i> Google
                                            </button>
                                            <button type="button" class="btn btn-label btn-social btn-twitter">
                                                <i class="fa fa-twitter"></i> Twitter
                                            </button>
                                            <button type="button" class="btn btn-label btn-social btn-linkedin">
                                                <i class="fa fa-linkedin"></i> Linkedin
                                            </button>


                                        </div>



                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

