<!-- Content Header (Page header) -->
<div class="overTop"></div>
<section class="content-header">
    <h1>
        Contact Details
    </h1>
</section>
<!-- Main content -->
<section class="content" ng-init="isActiveTab('about')">
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="card" id="profile-main">
                    <div class="pm-overview c-overflow mCustomScrollbar _mCS_4 mCS-autoHide" style="overflow: visible;">
                        <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" tabindex="0">
                            <div id="mCSB_4_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                                <div class="pmo-pic">
                                    <div class="p-relative">
                                        <a href="">
                                            <img class="img-responsive mCS_img_loaded" ng-src="{{contacts.image}}" err-src="./images/avatar.png">
                                        </a>
                                        <div class="dropdown pmop-message">
                                            <a data-toggle="dropdown" href="" class="btn palette-White bg btn-float z-depth-1 waves-effect waves-circle waves-float">
                                                <i class="zmdi zmdi-comment-text-alt"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <textarea placeholder="Write something..."></textarea>
                                                <button class="btn bgm-green btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-mail-send"></i></button>
                                            </div>
                                        </div>
                                        <form role="form" <a class="pmop-edit" type="button">
                                            <div class="input-group image-preview" style="margin: auto;">
                                                <div class="image-preview-input"> <i class="zmdi zmdi-camera"></i> <span class="image-preview-input-title">Update Profile Picture</span>
                                                    <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" ng-model="prod.product_variant_imgPath" ngf-max-size="8MB" ngf-select="upload($files)" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
                                                </div>
                                            </div>
                                            </a>
                                        </form>
                                    </div>
                                    <div class="pmo-stat">
                                        <h2 class="m-0 c-white">{{contacts.firstname}}</h2> Name
                                    </div>
                                </div>
                                <div class="pmo-block pmo-contact hidden-xs">
                                    <ul>
                                        <li ng-if="contacts.mobile"><i class="zmdi zmdi-phone"></i>{{contacts.mobile}}</li>
                                        <li><i class="zmdi zmdi-email"></i> {{contacts.email}}</li>
                                        <li><i class="zmdi zmdi-facebook-box"></i> {{contacts.lastname}} {{contacts.firstname}}</li>
                                        <li><i class="zmdi zmdi-twitter"></i> @{{contacts.firstname}} (twitter.com/{{contacts.firstname}})</li>
                                        <li>
                                            <i class="zmdi zmdi-pin"></i>
                                            <address class="m-b-0 ng-binding">
                                                {{contacts.address}}
                                            </address>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-wrap">
                        <input type="radio" name="tabs" id="tab1" ng-model="activeTab.name" value="about" ng-click="setActiveTab('about')">
                        <div class="tab-label-content" id="tab1-content">
                            <label class="tab-label-header" for="tab1">About</label>
                            <div class="tab-content">
                                <ng-include src="'./modules/contact/views/contact_about.html'" scope="" onload=""></ng-include>
                            </div>
                        </div>
                        <input type="radio" name="tabs" id="tab2" ng-model="activeTab.name" value="account" ng-click="setActiveTab('account')">
                        <div class="tab-label-content" id="tab2-content" ng-controller="ContactAccountCtrl">
                            <label class="tab-label-header" for="tab2">Account</label>
                            <div class="tab-content">
                                <ng-include src="'./modules/contact/views/contact_account.html'" scope="" onload=""></ng-include>
                            </div>
                        </div>
                        <input type="radio" name="tabs" id="tab4" ng-model="activeTab.name" value="stores" ng-click="setActiveTab('stores')">
                        <div class="tab-label-content" id="tab4-content" ng-controller="ContactAssignStoreCtrl">
                            <label class="tab-label-header" for="tab4">Assign Store</label>
                            <div class="tab-content">
                            <ng-include src="'./modules/contact/views/contact_store.html'" scope="" onload=""></ng-include>
                            </div>
                        </div>
                        <input type="radio" name="tabs" id="tab5" ng-model="activeTab.name" value="grouping" ng-click="setActiveTab('grouping')">
                        <div class="tab-label-content" id="tab5-content" ng-controller="ContactAssignGroupCtrl">
                            <label class="tab-label-header" for="tab5">Assign Grouping</label>
                            <div class="tab-content">
                            <ng-include src="'./modules/contact/views/contact_groups.html'" scope="" onload=""></ng-include>
                            </div>
                        </div>
                        <input type="radio" name="tabs" id="tab3" ng-model="activeTab.name" value="history" ng-click="setActiveTab('history')">
                        <div class="tab-label-content" id="tab3-content" ng-controller="ContactLogsCtrl">
                            <label class="tab-label-header" for="tab3">Activity History</label>
                            <div class="tab-content">
                               <ng-include src="'./modules/contact/views/contact_activity.html'" scope="" onload=""></ng-include>
                            </div>
                        </div>
                        <div class="slide"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
