<!-- Content Header (Page header) -->
<div class="overTop"></div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="action-headers palette-Teal-400 bg ">
                    <div class="ah-label hidden-xs palette-White text">Customer Contact List</div>
                    <div class="searchess" ng-show="search">
                        <input type="text" ng-model="searchText" placeholder="Start typing..." class="search-input">
                        <i ng-click="search = false" class="search-close zmdi zmdi-long-arrow-left"></i>
                    </div>
                    <ul class="ah-actions action a-alt">
                        <li ng-click="search = true">
                            <a class="ah-search-trigger">
                                <i class="zmdi zmdi-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-time"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="">
                        <div id="slider" slider-nav class="clearfix slider">
                            <div class="slider-content" id="searchTextResult" style="height:608px;">
                                <ul class="list-unstyled">
                                    <li id="{{let.letter}}" class="selected" ng-repeat="let in letters ">
                                        <a name="{{let.letter}}" ng-if="let.contacts.length != ''" class="title">{{let.ucase}}</a>
                                        <div class="" ng-value="contact._id" ng-repeat="contact in let.contacts | filter: searchText ">
                                            <div class="list-group-item media contact" ng-click="getContactDetail(contact._id)">
                                                <div class="col-sm-1">
                                                    <ng-letter-avatar data="{{contact.firstname}}" shape="round" height="40" width="40" fontsize="25" fontWeight="100"></ng-letter-avatar>
                                                </div>
                                                <div class="col-sm-11" style="padding-left: 0">
                                                    <div class="media-body ns-item" style="display: block;">
                                                        <h3>{{contact.firstname}}</h3>
                                                        <small>{{contact.lastname}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="slider-nav" style="height:608px; top: 20px;">
                                <ul>
                                    <li ng-repeat="let in letters"> <a alt="{{let.url}}">{{let.letter}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
