<!-- Content Header (Page header) -->
<div class="overTop"></div>
<section class="content" ng-init="isActiveTab('profile')">
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="tab-wrap">
                    <input type="radio" name="tabs" id="tab1" ng-model="activeTab.name" value="profile" ng-click="setActiveTab('profile')">
                    <div class="tab-label-content" id="tab1-content">
                        <label class="tab-label-header" for="tab1">Profile</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/account_profile.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <input type="radio" name="tabs" id="tab2" ng-model="activeTab.name" value="message" ng-click="setActiveTab('message')">
                    <div class="tab-label-content" id="tab2-content">
                        <label class="tab-label-header" for="tab2">Notification</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/account_message.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <input type="radio" name="tabs" id="tab3" ng-model="activeTab.name" value="payment" ng-click="setActiveTab('payment')">
                    <div class="tab-label-content" id="tab3-content">
                        <label class="tab-label-header" for="tab3">Payment History</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/account_payhistory.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <input type="radio" name="tabs" id="tab4" ng-model="activeTab.name" value="social" ng-click="setActiveTab('social')">
                    <div class="tab-label-content" id="tab4-content">
                        <label class="tab-label-header" for="tab4">Social Media</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/account_social.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <input type="radio" name="tabs" id="tab5" ng-model="activeTab.name" value="paygate" ng-click="setActiveTab('paygate')">
                    <div class="tab-label-content" id="tab5-content">
                        <label class="tab-label-header" for="tab5">Payment Gateways</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/accounts_payment.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <input type="radio" name="tabs" id="tab6" ng-model="activeTab.name" value="devices" ng-click="setActiveTab('devices')">
                    <div class="tab-label-content" id="tab6-content">
                        <label class="tab-label-header" for="tab6">Devices</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/account_device.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <input type="radio" name="tabs" id="tab7" ng-model="activeTab.name" value="modules" ng-click="setActiveTab('modules')">
                    <div class="tab-label-content" id="tab7-content">
                        <label class="tab-label-header" for="tab7">Modules & Features</label>
                        <div class="tab-content">
                            <ng-include src="'./modules/account/portal/account_module.html'" scope="" onload=""></ng-include>
                        </div>
                    </div>
                    <div class="slide"></div>
                </div>
            </div>
        </section>
    </div>
</section>