<div class="modal-header">
    <h3 class="modal-title">Manage User</h3>
</div>
<div class="modal-body">
    <div class="nav-tabs-custom" bs-tabs bs-active-pane="activeTab">
        <div data-title="<i class='fa fa-user'></i> User Account Information" bs-pane name="info">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">User Account Information</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Employee</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="users.employee" ng-change="setDefaultUName(users.employee)">
                                    <ui-select-match>
                                        {{$select.selected.lastname + ', ' + $select.selected.firstname}}
                                    </ui-select-match>
                                    <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="emp in (employees | filter: $select.search) track by emp.person_id">
                                        {{emp.lastname + ', ' + emp.firstname}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">User Roles</label>
                            <div class="col-sm-9">
                                <ui-select multiple ng-model="users.role">
                                    <ui-select-match placeholder="Select User Role...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="{role_id: row.role_id} as row in usergroups | propsFilter:{name:$select.search,description:'$select.search'}" infinite-scroll="addMoreItems()" infinite-scroll-distance="2">
                                        <div ng-bind-html="row.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <a class="btn btn-warning btn-xs">Reset User Group</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Valid Until?</label>
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="users.valid_until" is-open="popup1.opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" type="button" ng-click="saveUser()">Save</button>
                    <button class="btn btn-flat btn-default" type="button" ng-click="cancelUser()">Cancel</button>
                </div>
            </div>
        </div>
         <div data-title="Username" bs-pane name="username">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Username</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Username" ng-model="users.username">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" type="button" ng-click="saveUserName()">Save</button>
                    <button class="btn btn-flat btn-default" type="button" ng-click="cancelUser()">Cancel</button>
                </div>
            </div>
        </div>
        <div data-title="User Login Info" bs-pane name="login">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">User Password</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="{{inputType}}" class="form-control" id="inputPassword3" placeholder="Password" ng-model="users.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" ng-model="users.confirm_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()">
                                        <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
                                        <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <a class="btn btn-success btn-xs" ng-click="generatePassword()">Generate Password</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" type="button" ng-click="saveUserPassword()">Save</button>
                    <button class="btn btn-flat btn-default" type="button" ng-click="cancelUser()">Cancel</button>
                </div>
            </div>
        </div>
        <div data-title="Recovery Email" bs-pane name="recovery">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Recovery Email</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Recovery Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputEmailRecovery" placeholder="Recovery Email" ng-model="users.recovery_email">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" type="button" ng-click="saveUserEmailRecovery()">Save</button>
                    <button class="btn btn-flat btn-default" type="button" ng-click="cancelUser()">Cancel</button>
                </div>
            </div>
        </div>
        <div data-title="Personal Identification Number" bs-pane name="pin">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Personal Identification Number</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">PIN</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="{{inputType2}}" numbers-only ng-model="users.pos_pin " class="form-control " placeholder="PIN Number" validator="required ">
                                    <span class="input-group-btn">
                                        <a class="btn btn-default btn-flat" ng-click="hideShowPassword2()">
                                            <i class="fa fa-eye" ng-if="inputType2=='password'"></i>
                                            <i class="fa fa-eye-slash" ng-if="inputType2=='text'"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" type="button" ng-click="saveUserPIN()">Save</button>
                    <button class="btn btn-flat btn-default" type="button" ng-click="cancelUser()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-flat btn-primary" type="button" ng-click="saveUser()">Save</button>
    <button class="btn btn-flat btn-default" type="button" ng-click="cancelUser()">Cancel</button>
</div> -->
