<section class="content-header">
    <h1>Price Book List</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Price Book</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <script type="text/ng-template" id="checkboxheader.html">
            <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
        </script>
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header">
                    <div class="pull-left">
                        <a class="btn btn-flat btn-sm btn-primary" ui-sref="main.pricebook-detail" uib-tooltip="Add New">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-flat btn-sm btn-success" ng-click="publishSelected()" uib-tooltip="Publish">
                            <i class="fa fa-file-text-o"></i>
                        </a>
                        <a class="btn btn-flat btn-sm btn-danger" ng-click="deleteSelected()" ng-disabled="!deleteSomeData" uib-tooltip="Delete">
                            <i class="fa fa-remove"></i>
                        </a>
                        <a ng-click="refresh()" class="btn btn-flat btn-sm btn-default" uib-tooltip="Refresh">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a ui-sref="main.pricebooktype" class="btn btn-flat btn-sm btn-default" uib-tooltip="Pricebook Type">
                            <i class="fa fa-list"></i> Pricebook Type
                        </a>
                    </div>
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{status}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="updateStatus('All')">All</a></li>
                                <li><a ng-click="updateStatus('Published')">Published</a></li>
                                <li><a ng-click="updateStatus('Unpublished')">Unpublished</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{name}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="type in pricebooktype"><a ng-click="updateType(type)">{{type.name}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <div ng-dropdown-multiselect="" options="example8data" selected-model="example8model" checkboxes="true" translation-texts="{buttonDefaultText: 'Tags'}" extra-settings="{showCheckAll: false,showUncheckAll: false} "></div>
                        </div>
                    </div>
                    <div class="box-body table-responsive mailbox-messages padding">
                        <table class="table table-hover" ng-table="pricebooksTable">
                            <tr ng-repeat="pricebook in $data  track by $index">
                                <td data-header="'checkboxheader.html'" class="text-center center-td-table">
                                    <input type="checkbox" ng-model="pricebook.selected" ng-change="checkDataChanges(pricebook)">
                                </td>
                                <td class="text-center" data-title="'Name'">
                                    {{pricebook.name}}
                                <td class="text-center" data-title="'Type'">
                                    {{pricebook.pricebook_type_info.name}}
                                </td>
                                <td class="text-center" data-title="'Description'">
                                    <span ng-bind-html="pricebook.description"></span>
                                </td>
                                <td class="text-center" data-title="'Published'">
                                    <span ng-if="pricebook.date_approved != null " class="label label-success">published</span>
                                    <span ng-if="pricebook.date_approved == null " class="label label-warning">draft</span>
                                </td>
                                <td class="text-center" data-title="'Date From'">
                                    {{pricebook.valid_from | amDateFormat:'YYYY-MM-DD'}}
                                </td>
                                <td class="text-center" data-title="'Date To'">
                                    {{pricebook.valid_until | amDateFormat:'YYYY-MM-DD'}}
                                </td>
                                <td class="text-center" data-title="'Tags'">
                                </td>
                                <td class="text-right">
                                    <a ui-sref="main.pricebook-detail({pricebook_id: pricebook.pricebook_id})" class="btn btn-info btn-xs btn-flat" uib-tooltip="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-flat btn-xs btn-success" ng-click="publishSelectedItem(pricebook)" uib-tooltip="Publish">
                                        <i class="fa fa-file-text-o"></i>
                                    </a>
                                    <a class="btn btn-flat btn-xs btn-warning" ng-click="copyDuplicatePricebook(pricebook)" uib-tooltip="Copy/Duplicate">
                                        <i class="fa fa-copy"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <div class="overlay" ng-show="pricebookLoading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>
</section>
