<section class="content-header">
    <h1>
            Pricebook
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.pricebook">Pricebook</a></li>
        <li class="active">Pricebook Entry</li>
    </ol>
</section>
<!-- Main content -->
<section class="content pryxbuk">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title=" General Information" bs-pane>
            <div ng-include="'modules/pricebook/pricebooks.html'"></div>
        </div>
        <div data-title=" Products" bs-pane ng-if="displayTab">
            <div ng-include="'modules/pricebook/products.html'"></div>
        </div>
        <div data-title=" Assigned to" bs-pane ng-if="displayTab">
            <div ng-include="'modules/pricebook/assignedto.html'"></div>
        </div>
    </div>
</section>
<style type="text/css">
.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group {
    margin-top: 0px;
    margin-left: 0px;
}

.btn-toolbar {
    margin-left: 0px;
    border: 1px solid #ccc;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-radius: 0;
}

.ta-scroll-window.form-control {
    margin-top: -1px;
}
</style>
