<section class="content-header">
    <h1>Price Book List</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Price Book List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-sm" placeholder="&#xf002; What are you looking for?" style="font-family: 'FontAwesome';" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary">
                                Go
                            </button>
                            <button type="button" class="btn btn-success">
                                Create New
                            </button>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{status}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="updateStatus('All')">All</a></li>
                                <li><a ng-click="updateStatus('Published')">Published</a></li>
                                <li><a ng-click="updateStatus('Unpublished')">Unpublished</a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{type}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="updateType('Standard')">Standard</a></li>
                                <li><a ng-click="updateType('Sale')">Sale</a></li>
                                <li><a ng-click="updateType('Promo')">Promo</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <div ng-dropdown-multiselect="" options="example8data" selected-model="example8model" checkboxes="true" translation-texts="{buttonDefaultText: 'Tags'}" extra-settings="{showCheckAll: false,showUncheckAll: false} "></div>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm">P</button>
                                <button class="btn btn-default btn-sm">X</button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" />
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Published</th>
                                    <th>Date From</th>
                                    <th>Date To</th>
                                    <th>Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>
                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <!-- <td class="mailbox-star"><a href=""><i class="fa fa-star text-yellow"></i></a></td> -->
                                    <td class="mailbox-name"><a ui-sref="main.mailbox-read">Alexander Pierce</a></td>
                                    <td class="mailbox-subject"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
                                    <td class="mailbox-attachment"></td>

                                     <th>
                                        <input type="checkbox" />
                                    </th>
                                    <td class="mailbox-date">5 mins ago</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
