<div class="row">
    <form role="form" ng-submit="savePricebook()">
        <div class="col-md-9">
            <div class="box box-warning">
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label>Pricebook Name</label>
                        <input type="text" ng-model="details.name" name="required" class="form-control" placeholder="Name" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label>PriceBook Type</label>
                        <select class="form-control" ng-model="details.pricebook_type_id" ng-options="option.pt_id as option.name for option in pricebooktype">
                            <option disabled value="">Choose PriceBook Type</option>
                        </select>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label>Date From: </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" ng-model="details.valid_from" data-date-format="MM-dd-yyyy" data-max-date="{{details.end_date}}" bs-datepicker/>
                        </div>
                    </div>
                    <!--  <div class="form-group col-md-6">
                        <label>Date 1</label>
                        <div class="input-group">
                            <kk-timepicker settings="settings" ng-model="time"></kk-timepicker>
                        </div>
                    </div> -->
                    <div class="form-group col-md-6">
                        <label>Date To: </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.valid_until" data-min-date="{{details.start_date}}" bs-datepicker/>
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label>Date</label>
                        <div class="input-group">
                            <kk-timepicker settings="settings1" ng-model="time"></kk-timepicker>
                        </div>
                    </div> -->
                </div>
                <div class="box-body">
                    <div class="form-group col-md-12">
                        <label>Description</label>
                        <text-angular ng-model="details.description" required /></text-angular>
                    </div>
                   <!--  <div class="form-group col-md-12">
                        <label>Tags <i class="fa fa-tags"></i></label>
                        <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" on-remove="deleteProductTags($item)" multiple tagging="tagTransform" tagging-label="Enter Tag" ng-model="details.tags" theme="bootstrap" close-on-select="false">
                            <ui-select-match placeholder="Enter Tags...">{{$item.tags}}</ui-select-match>
                            <ui-select-choices repeat="tag in tagsArr | propsFilter: {tags: $select.search}">
                                <div ng-bind-html="tag.tags | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-warning">
                <div class="box-body">
                    <button type="submit" ng-disabled="quoteInfoForm.$invalid" class=" btn btn-primary btn-block">Save Entry</button>
                    <a class="btn btn-default btn-block" ng-click="goBack()">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
