<section class="content">
    <h4 class="page-header">Folders</h4>
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="file in assets.folders">
            <div class="asset-box">
                <span class="asset-box-icon bg-gray" uib-tooltip="{{file.folder_name}}"><a href="" ng-click="openFolder(file)"><i class="fa fa-folder text-muted"></i></a></span>
                <div class="asset-box-content">
                    <span class="info-box-number" uib-tooltip="{{file.folder_name}}">
                        <a href="" ng-click="openFolder(file)">{{file.folder_name | ellipsis:true:10:'...'}}</a>
                    </span>
                    <span class="info-box-text">{{ file.folder_filesize/1024/1024|number:2 }} MB</span>
                </div>
            </div>
        </div>
    </div>
    <h4 class="page-header">Files</h4>
    <div class="row">
        <div class="col-md-12">
            <ul class="mailbox-attachments clearfix">
                <li ng-repeat="files in assets.assets">
                    <span class="mailbox-attachment-icon" ng-class="{'has-img': files.asset_mimetype == 'image/jpeg' || files.asset_mimetype == 'image/jpg' || files.asset_mimetype == 'image/gif' || files.asset_mimetype == 'image/x-ms-bmp' || files.asset_mimetype == 'image/png'}">
                        <!-- PDF -->
                        <i class="fa fa-file-pdf-o text-red" ng-if="files.asset_mimetype == 'application/pdf'"></i>
                        <!-- DOCS -->
                        <i class="fa fa-file-word-o text-blue" ng-if="files.asset_mimetype == 'application/msword' || files.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                        <!-- AUDIO -->
                        <i class="fa fa-file-audio-o" ng-if="files.asset_mimetype == 'audio/mp3' || files.asset_mimetype == 'audio/mp4'"></i>
                        <!-- VIDEO -->
                        <i class="fa fa-file-video-o" ng-if="files.asset_mimetype == 'video/mp4' || files.asset_mimetype == 'video/x-flv' || files.asset_mimetype == 'video/x-msvideo' || files.asset_mimetype == 'video/x-ms-wmv' || files.asset_mimetype == 'video/quicktime'"></i>
                        <!-- TEXT -->
                        <i class="fa fa-file-text-o text-blue" ng-if="files.asset_mimetype == 'text/plain'"></i>
                        <!-- EXCEL -->
                        <i class="fa fa-file-excel-o text-green" ng-if="files.asset_mimetype == 'text/csv' || files.asset_mimetype == 'application/vnd.ms-excel' || files.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                        <!-- POWERPOINT -->
                        <i class="fa fa-file-powerpoint-o text-orange" ng-if="files.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || files.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
                        <!-- ZIP -->
                        <i class="fa fa-file-zip-o text-purple" ng-if="files.asset_mimetype == 'application/zip'"></i>
                        <!-- IMAGE -->
                        <img src="{{files.asset_url}}" alt="Attachment" ng-if="files.asset_mimetype == 'image/jpeg' || files.asset_mimetype == 'image/jpg' || files.asset_mimetype == 'image/gif' || files.asset_mimetype == 'image/x-ms-bmp' || files.asset_mimetype == 'image/png'"/>
                    </span>
                    <div class="mailbox-attachment-info">
                        <a href="" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{files.asset_name | ellipsis:true:18:'...'}}</a>
                        <span class="mailbox-attachment-size">
                          {{ files.asset_filesize/1024/1024|number:2 }} MB
                          <a href="" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
