<div class="modal-header">
    <h3 class="modal-title">Files</h3>
</div>
<div class="modal-body" id="modal-body">
    <div data-angular-treeview="true" data-tree-id="abc" data-tree-model="treedata" data-node-id="id" data-node-label="label" data-node-children="children">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="create()">Move</button>
    <a class="btn btn-sm btn-flat btn-default" ng-click="cancel()">Cancel</a>
</div>
