<div class="row ">
    <form class="form-inline " role="form ">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header ">
                    <div clas="box-header">
                        <div class="pull-right">
                            <div class="form-group ">
                                <div class="col-md-12 ">
                                    <div class="input-group ">
                                        <div class="box-tools " ng-hide="list.listName === 'Package'">
                                            <div class="input-group ">
                                                <input type="text " class="form-control input-sm " placeholder="Search for... " ng-model="txtSearch " disable-valid-styling="true " disable-validation-message=" " ng-change="(txtSearch.length < 1)? searchData(txtSearch):0 " ng-keypress="($event.which===13)?searchData(txtSearch):0">
                                                <div class="input-group-btn ">
                                                    <a class="btn btn-flat btn-sm btn-default " ng-click="searchData(txtSearch)"><i class="fa fa-search "></i></a>
                                                </div>
                                            </div>
                                            <div class="btn-group ">
                                                <a ng-click="refresh() " class="btn btn-flat btn-sm btn-success ">
                                                    <i class="fa fa-refresh "></i> Refresh
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="list in models" class="col-md-6">
                        <div clas="box-header">
                            <div class="box-tools " ng-hide="list.listName === 'Products'">
                                <a ng-click="addProductBundle() " class="btn btn-flat btn-sm btn-primary ">
                                    <i class="fa fa-edit "></i> Save
                                </a>
                                <a class="btn btn-flat btn-sm btn-danger " ng-click="removeAll(list,item) ">
                                    <i class="fa fa-trash "></i> Remove all
                                </a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">List of {{list.listName}}</h3>
                                </div>
                                <div class="panel-body" ng-include="'modules/products/bundles/multi.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
