<section class="content-header">
    <h1>
            Attribute Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.settings-attributes">Attributes</a></li>
        <li class="active">Attribute New Entry</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom" bs-tabs>
                <div data-title="<i class='fa fa-file-o'></i> General Entry" bs-pane>
                    <div class="row">
                        <form role="form" name="attributeForm" ng-submit="saveAttribute()">
                            <div class="col-md-8">
                                <div class="box box-warning">
                                    <div class="box-header">
                                        <h3 class="box-title">General Info</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" ng-model="details.name" class="form-control" placeholder="Name" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Label</label>
                                            <input type="text" ng-model="details.label" class="form-control" placeholder="Label" required />
                                        </div>
                                        <div class="form-group ">
                                            <label class="col control-label">Attribute Type</label>
                                            <div class="col">
                                                <select class="form-control" ng-model="details.attrib_type_id" ng-options="item.attrib_type_id as item.name for item in types" required />
                                                <option disabled value="">Attribute Type</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="details.is_visible" ng-true-value="1" ng-false-value="0" ng-checked="details.is_visible == 1"> Visible
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="details.is_search"> Searchable
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="details.is_required"> Required
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="details.is_variation"> Variant
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="details.is_customizable"> Customizable
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="details.is_unique"> Unique
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" /> Comparable
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box box-warning">
                                    <div class="box-body">
                                        <button type="submit" ng-disabled="attributeForm.$invalid" class="btn btn-primary btn-block">Save Entry</button>
                                        <a class="btn btn-default btn-block" ng-click="goBack()">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div data-title="<i class='fa fa-list'></i> Product Type" bs-pane>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-warning">
                                <div class="box-header">
                                    <div class="pull-left">
                                        <form class="form-inline">
                                            <button class="btn btn-flat btn-sm btn-primary" ng-disabled="!deleteSomeData">
                                                <i class="fa fa-file-o"></i> Save
                                            </button>
                                            <button class="btn btn-flat btn-sm btn-success" ng-click="getAllStore()">
                                                <i class="fa fa-refresh"></i> Refresh
                                            </button>
                                        </form>
                                    </div>
                                    <div class="pull-right box-tools">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-flat btn-sm btn-default" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table class="table table-striped footable" data-page-size="10" id="tblStore">
                                        <thead>
                                            <tr>
                                                <th width="30" data-sort-ignore="true">
                                                    <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                                </th>
                                                <th class="" data-sort-ignore="true">Product Type</th>
                                                <th class="">Label</th>
                                                <th class="">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="var in productType">
                                                <td>
                                                    <input type="checkbox" ng-model="var.selected" ng-change="checkDataChanges(var)">
                                                </td>
                                                <td>
                                                    {{var.name}}
                                                </td>
                                                <td>
                                                    {{var.label}}
                                                </td>
                                                <td>
                                                    {{var.description}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="hide-if-no-paging">
                                            <tr>
                                                <td colspan="6" align="center">
                                                    <ul class="pagination"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-title="<i class='fa fa-list'></i> Attribute Values" bs-pane ng-if="showAttributeValues">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="box box-warning">
                                    <div class="box-header">
                                        <div class="pull-left">
                                            <form class="form-inline">
                                                <button class="btn btn-flat btn-sm btn-primary" ng-click="newEntry()">
                                                    <i class="fa fa-file-o"></i> Add Attribute Value
                                                </button>
                                                <button class="btn btn-flat btn-sm btn-success" ng-click="getAllStore()">
                                                    <i class="fa fa-refresh"></i> Refresh
                                                </button>
                                            </form>
                                        </div>
                                        <div class="pull-right box-tools">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                                            <div class="input-group-btn">
                                                                <button class="btn btn-flat btn-sm btn-default" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0"><i class="fa fa-search"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-striped footable" data-page-size="10" id="tblStore">
                                            <thead>
                                                <tr>
                                                    <th width="30" data-sort-ignore="true">
                                                        <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                                    </th>
                                                    <th class="" data-sort-ignore="true">Product Type</th>
                                                    <th class="">Label</th>
                                                    <th class="">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="var in attributeValues">
                                                    <td>
                                                        <input type="checkbox" ng-model="var.selected" ng-change="checkDataChanges(var)">
                                                    </td>
                                                    <td>
                                                        {{var.name}}
                                                    </td>
                                                    <td>
                                                        {{var.label}}
                                                    </td>
                                                    <td>
                                                        {{var.description}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot class="hide-if-no-paging">
                                                <tr>
                                                    <td colspan="6" align="center">
                                                        <ul class="pagination"></ul>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
