<div class="modal-header">
    <h3 class="modal-title">Manage User Roles</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputGroupName" placeholder="Name" ng-model="feature.item_name" ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupDesc" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="inputGroupDesc" placeholder="Description" ng-model="feature.item_description" ng-required="true"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Module</label>
            <div class="col-sm-9">
                <ui-select ng-model="feature.module">
                    <ui-select-match>
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="emp in modules | filter: $select.search track by $index">
                        {{emp.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Node</label>
            <div class="col-sm-9">
                <input type="Number" class="form-control" id="inputGroupName" placeholder="Node" ng-model="feature.nodes" ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Inactive</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="feature.inactive">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputGroupName" class="col-sm-3 control-label">Default</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="feature.DefaultRead"> Read
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="feature.DefaultWrite"> Write
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="feature.DefaultDelete"> Delete
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="feature.DefaultPrint"> Print
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-flat btn-primary" ng-click="saveFeature()">Save</button>
    <button class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>
</div>
