<div class="row" ng-controller="productBundleCategoryCtrl">
    <form role="form" ng-submit="addProduct()">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header">
                    <!-- <h3 class="box-title">List of Products</h3> -->
                    <div class="pull-left">
                        <form class="form-inline">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-flat btn-warning dropdown-toggle mr-5" data-toggle="dropdown" style="padding: 5px 20px !important;margin-right: 5px;">
                                    Status: <span ng-if="applicationStatus == ''">All</span><span ng-if="applicationStatus != ''">{{applicationStatus}}</span>
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="updateStatus('')">All</a></li>
                                    <li><a ng-click="updateStatus('Product\'s Category')">Product's Category</a></li>
                                </ul>
                            </div>
                            <a class="btn btn-flat pcombo btn-sm btn-primary mr-5" ng-click="saveproductBundleCategory()">
                               <img src="./images/icon/ic_save_black_24px.svg"> Save
                            </a>
                            <a class="btn btn-flat pcombo btn-sm btn-default mr-5" ng-click="getAllCategory()">
                                <img src="./images/icon/refresh.svg"> Refresh
                            </a>
                        </form>
                    </div>
                    <div class="pull-right box-tools">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat btn-sm btn-default" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body p-0">
                    <table class="table table-striped footable" data-page-size="10" id="tblCategory">
                        <thead>
                            <tr>
                                <th width="30" data-sort-ignore="true" style="padding: 10px 8px;">
                                    <input type="checkbox" class="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                </th>
                                <th class="">Name</th>
                                <th class="">Label</th>
                                <th class="">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in itemArray" repeat-end="paginate()">
                                <td angular-ripple>
                                    <input type="checkbox" class="checkbox" ng-model="var.selected" ng-change="checkStoresChanges(var)">
                                </td>
                                <td>
                                    {{var.name}}
                                </td>
                                <td>
                                    {{var.label}}
                                </td>
                                <td>
                                    {{var.description}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" align="center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
