<div class="row">
    <div class="col-md-12">
        <div class=" box-warning">
            <div class="box-header">
                <!-- <div class="pull-left">
                    <button class="btn btn-flat pcombo btn-sm btn-primary mr-5" ng-click="openUploader()">
                        <img src="./images/icon/ic_file_upload_white_24px.svg"> Upload Image
                    </button>
                    <button ng-click="deleteAllMedia()" class="btn btn-flat pcombo btn-sm btn-danger mr-5">
                        <img src="./images/icon/delete-sweep.svg"> Delete All
                    </button>
                </div> -->
                <div class="pull-left disp-inline-flex">
                    <div class="w140">
                        <a ng-click="openUploader()" class="mr-10 label-circle-button">
                            <button class="btn btn-danger actbutton btn-xs btn-flat mr-5">
                                <img src="./images/icon/ic_file_upload_black_24px.svg">
                            </button>Upload Image</a>
                    </div>
                    <div class="w140">
                        <a ng-click="deleteAllMedia()" class="label-circle-button">
                            <button class="btn btn-danger actbutton btn-xs btn-flat mr-5">
                                <img src="./images/icon/delete-sweep.svg">
                            </button>Delete All</a>
                    </div>
                </div>
            </div>
            <div class="box-body bundimg">
                <div class="row">
                    <div ng-repeat="files in product_image" class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box">
                            <div class="box-body text-center">
                                <button class="actbuttonassets btn-box-tool pull-right" ng-click="deleteSelected(files)"><img src="./images/icon/ic_delete_black_24px.svg"></button>
                                <img class="img-rounded" ngf-src="files.image_path" err-src="http://placehold.it/750x450" width="150px" height="150px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
