<!-- <ul dnd-list dnd-drop="onDrop(list, item, index)">
    <li ng-repeat="item in list.items track by item.p_id" dnd-draggable="getSelectedItemsIncluding(list, item)" dnd-dragstart="onDragstart(list, event)" dnd-selected="item.selected = !item.selected" ng-class="{'selected': item.selected}" dnd-disable-if="list.listName == 'Package'" dnd-moved="dropCallback(event, $index, item)">
        {{item.item_name}}
        <div class="input-group col-sm-4" ng-if="list.listName=='Package'">
            <div class="input-group-btn">
                <button ng-click="minusbutton(cartitem)" class="btn bg-navy"><i class="fa fa-minus"></i></button>
            </div>
            <input ng-model="cartitem.quantity" class="form-control" />
            <div class="input-group-btn">
                <button ng-click="addbutton(cartitem)" class="btn bg-navy" type="button"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <button ng-if="list.listName=='Package'" class="btn btn-danger btn-xs btn-flat pull-right" ng-click="remove(list,item) ">
            <i class="fa fa-times "></i>
        </button>
        <span class="label label-primary" ng-if="list.listName=='Package'">{{item.item_quantity}}</span>
    </li>
</ul>
 -->
<table class="table table-condensed" dnd-list dnd-drop="onDrop(list, item, index)">
    <!-- <table class="table table-condensed"> -->
    <thead>
        <tr>
            <th style="width: 60%">Item</th>
            <th style="width: 35%" ng-if="list.listName=='Package'">Quantity</th>
            <th style="width: 10%" ng-if="list.listName=='Package'"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list.items track by $index" dnd-draggable="getSelectedItemsIncluding(list, item)" dnd-dragstart="onDragstart(list, event)" dnd-selected="callMyFunction(item,list.listName)" ng-class="{'selected': item.selected}" dnd-disable-if="list.listName == 'Package'" dnd-moved="dropCallback(event, $index, item)">
            <!-- <tr ng-repeat="item in list.items track by $index"> -->
            <td style="width: 60%">
                {{item.item_name}}
            </td>
            <td style="width: 35%" ng-if="list.listName=='Package'">
                <div class="form-group disp-inline-flex">
                    <input type="text" ng-model="item.quantity" class="form-control" />
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button ng-click="minusbutton(item)" class="btn bg-dgray m-0 br-0"><i class="fa fa-minus"></i></button>
                        </div>
                        <div class="input-group-btn">
                            <button ng-click="addbutton(item)" class="btn bg-dgray" type="button"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </td>
            <td style="width: 10%" ng-if="list.listName=='Package'">
                <button ng-if="list.listName=='Package'" class="btn btn-danger btn-xs btn-flat pull-right" ng-click="remove(list,item)" style="    padding: 7px 7px !important;">
                    <img src="./images/icon/ic_close_white_18px.svg">
                </button>
            </td>
        </tr>
    </tbody>
</table>
