<div class="row" ng-controller="productAttributeCtrl">
    <div class="col-md-12">
        <div class="pull-left">
            <a class="btn btn-flat btn-sm btn-success" ng-click="getAllProductAttributes()">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </div>
    </div>
    <form role="form">
        <div class="col-md-9 col-md-offset-2">
            <div class="box box-primary">
                <div class="box-body">
                    <div ng-repeat="attrib in attributes">
                        <div class="form-group">
                            <!-- Textbox -->
                            <label ng-if="attrib.attribute_type=='Textbox'">{{attrib.attribute}}</label>
                            <input type="text" class="form-control" ng-if="attrib.attribute_type=='Textbox'" value="{{attrib.value}}">
                            <!-- Numeric Textbox -->
                            <label ng-if="attrib.attribute_type=='Numeric Textbox'">{{attrib.attribute}}</label>
                            <input type="number" class="form-control" ng-if="attrib.attribute_type=='Numeric Textbox'" value="{{attrib.value}}">
                            <!-- Textarea -->
                            <label ng-if="attrib.attribute_type=='Textarea' || attrib.attribute_type=='Rich Textbox'">{{attrib.attribute}}</label>
                            <textarea class="form-control" rows="3" ng-if="attrib.attribute_type=='Textarea' || attrib.attribute_type=='Rich Textbox'">{{attrib.value}}</textarea>
                            <!-- Dropdownlist -->
                            <label ng-if="attrib.attribute_type=='Dropdownlist'">{{attrib.attribute}}</label>
                            <select class="form-control" ng-if="attrib.attribute_type=='Dropdownlist'">
                                <option ng-repeat="val in attrib.attribute_list_value" value="{{val.value}}">{{val.name}}</option>
                            </select>
                            <!-- Multiselect -->
                            <label ng-if="attrib.attribute_type=='Multiselect'">{{attrib.attribute}}</label>
                            <select multiple class="form-control" ng-if="attrib.attribute_type=='Multiselect'">
                                <option ng-repeat="val in attrib.attribute_list_value" value="{{val.value}}">
                                    {{val.name}}
                                </option>
                            </select>
                            <!-- Checkbox -->
                            <div class="checkbox" ng-if="attrib.attribute_type=='Checkbox'">
                                <label>
                                    <input type="checkbox" /> {{attrib.attribute}}
                                </label>
                            </div>
                            <!-- QRCode Textbox -->
                            <label ng-if="attrib.attribute_type=='QRCode Textbox'">{{attrib.attribute}}</label>
                            <qrcode data="{{attrib.value}}" ng-if="attrib.attribute_type=='QRCode Textbox'"></qrcode>
                            <!-- Percentage -->
                            <label ng-if="attrib.attribute_type=='Percentage'">{{attrib.attribute}}</label>
                            <h3 class="box-title" ng-if="attrib.attribute_type=='Percentage'">{{attrib.value | percentage:2}}</h3>
                            <!-- Numeric -->
                            <label ng-if="attrib.attribute_type=='Numeric'">{{attrib.attribute}}</label>
                            <h3 class="box-title" ng-if="attrib.attribute_type=='Numeric'">{{attrib.value | number:2}}</h3>
                        </div>
                        <!-- Attachment -->
                        <div class="col-md-6" ng-if="attrib.attribute_type=='Attachment'">
                            <div class="info-box bg-aqua">
                                <span class="info-box-icon"><i class="fa fa-file-text-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number">{{attrib.attribute}}</span>
                                    <span class="info-box-text">{{attrib.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
