<section class="content-header">
    <h1>
            Product Bundle Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.products">Products</a></li>
        <li class="active">Product Bundle New Entry</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="<i class='fa fa-info'></i> General Info" bs-pane>
            <div class="row">
                <form role="form" ng-submit="addProduct()">
                    <div class="col-md-9">
                        <div class="box box-warning">
                            <div class="box-body">
                                <div class="form-group" ng-if="details.p_id">
                                    <label>Status: </label>
                                    <span ng-if="details.is_published == '0' " class="label label-warning">draft</span>
                                    <span ng-if="details.is_published == '1' " class="label label-success">published</span>
                                    <span ng-if="details.is_archived == '1'" class="label label-danger">archived</span>
                                </div>
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" ng-model="details.item_name" placeholder="Product Name">
                                </div>
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input type="text" class="form-control" ng-model="details.product_code" placeholder="Product Code">
                                </div>
                                <div class="form-group">
                                    <label>Product Type</label>
                                    <select class="form-control" ng-model="details.ptype_id" ng-options="option.ptype_id as option.name for option in ptypes"></select>
                                </div>
                                <div class="form-group">
                                    <label>Product Brand</label>
                                    <input type="text" class="form-control" ng-model="details.brand" placeholder="Product Brand">
                                </div>
                                <div class="form-group">
                                    <label>Product Price</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">Php ₱</span>
                                        <input type="text" ng-model="details.sell_price" class="form-control">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Start Date: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" ng-model="details.start_date" data-date-format="MM-dd-yyyy" data-max-date="{{details.end_date}}" bs-datepicker/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End Date: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.end_date" data-min-date="{{details.start_date}}" bs-datepicker/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <text-angular ng-model="details.item_description"></text-angular>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-warning">
                            <div class="box-body">
                                <button type="submit" class="btn btn-primary btn-flat btn-block">Save Entry</button>
                                <a class="btn btn-success btn-flat btn-block" ng-show="showPublish" ng-click="publishProduct(details.p_id)">Publish</a>
                                <a class="btn btn-danger btn-flat btn-block" ng-show="showArchive" ng-click="archiveProduct(details.p_id)">Archive</a>
                                <a class="btn btn-default btn-block" ng-click="goBack()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div data-title="<i class='fa fa-list'></i> Composite" bs-pane>
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Bundle Product</h3>
                            <div class="box-tools pull-left">
                                <button class="btn btn-flat btn-sm btn-primary" ng-click="saveCategory()">
                                    <i class="fa fa-edit"></i> Save
                                </button>
                                <button class="btn btn-flat btn-sm btn-success" ng-click="getAllCategory()">
                                    <i class="fa fa-refresh"></i> Refresh
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                                <tr ng-repeat="item in dropped" dd-drop-target="true">
                                    <td class="item">{{item.name}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">List of Products</h3>
                            <div class="box-tools">
                                <div class="input-group">
                                    <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                </tr>
                                <tr ng-repeat="item in suppliers">
                                    <td dd-draggable="true" class="item" itemid="{{item.s_id}}">{{item.name}}</td>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="">&laquo;</a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <div data-title="<i class='fa fa-image'></i> Bundle Images" bs-pane>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="pull-left">
                                <button class="btn btn-flat btn-sm btn-primary" ng-click="openUploader()">
                                    <i class="fa fa-edit"></i> Upload Image
                                </button>
                                <button class="btn btn-flat btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <button class="btn btn-flat btn-sm btn-success">
                                    <i class="fa fa-refresh"></i> Refresh
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3 portfolio-item">
                                    <a href="">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="image1">
                                                <img class="img-responsive thumbnail" src="http://placehold.it/750x450" alt="">
                                            </label>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 portfolio-item">
                                    <a href="">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="image1">
                                                <img class="img-responsive thumbnail" src="http://placehold.it/750x450" alt="">
                                            </label>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 portfolio-item">
                                    <a href="">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="image1">
                                                <img class="img-responsive thumbnail" src="http://placehold.it/750x450" alt="">
                                            </label>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 portfolio-item">
                                    <a href="">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="image1">
                                                <img class="img-responsive thumbnail" src="http://placehold.it/750x450" alt="">
                                            </label>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
