<div class="row">
    <form role="form" ng-submit="addProduct()">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header">
                    <!-- <h3 class="box-title">List of Products</h3> -->
                    <div class="pull-left">
                        <a class="btn btn-flat btn-sm btn-info" ng-click="openAttributeModal()">
                            <i class="fa fa-plus"></i> Add Variants
                        </a>
                        <a class="btn btn-flat btn-sm btn-info" ui-sref="main.settings-attributes-add">
                            <i class="fa fa-file-o"></i> New Attributes Entry
                        </a>
                        <a class="btn btn-flat btn-sm btn-danger" ng-click="saveCategory()">
                            <i class="fa fa-remove"></i> Delete
                        </a>
                        <a class="btn btn-flat btn-sm btn-success" ng-click="getAllCategory()">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped footable" data-page-size="10" id="tblAttributes">
                        <thead>
                            <tr>
                                <th class="" data-sort-ignore="true">Name</th>
                                <th class="" data-sort-ignore="true">Label</th>
                                <th class="" data-sort-ignore="true">Description</th>
                                <th data-sort-ignore="true"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in itemArray" repeat-end="paginate()">
                                <td>
                                    {{var.name}}
                                </td>
                                <td>
                                    {{var.label}}
                                </td>
                                <td>
                                    <p data-ng-bind-html="var.description | limitTo: 90" data-ellipsis></p>
                                </td>
                                <td>
                                    <button ng-click="edit(product.p_id)" class="btn btn-info btn-xs btn-flat"><i class="glyphicon glyphicon-edit"></i></button>
                                    <button ng-click="edit(product.p_id)" class="btn btn-danger btn-xs btn-flat"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" align="center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
