<section class="content-header">
    <h1>
            Product Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.products">Products</a></li>
        <li class="active">Product New Entry</li>
    </ol>
</section>
<section class="content b prod">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="General Info" bs-pane ng-if="tabprod.product">
            <div ng-include="'modules/products/details/product.html'"></div>
        </div>
        <div data-title="Media / Files" bs-pane ng-if="tabprod.media">
            <ng-include src="'./modules/products/details/product.media.html'"></ng-include>
        </div>
        <div data-title="Store" bs-pane ng-if="tabprod.store">
            <div ng-include="'modules/products/details/store.html'"></div>
        </div>
        <div data-title="Category" bs-pane ng-if="tabprod.category">
            <div ng-include="'modules/products/details/category.html'"></div>
        </div>
        <div data-title="Attribute" bs-pane ng-if="tabprod.attribute">
            <div ng-include="'modules/products/details/attributes.html'"></div>
        </div>
        <div data-title="Variants" bs-pane ng-if="tabprod.variation">
            <div ng-include="'modules/products/details/variants.html'"></div>
        </div>
        <div data-title="Price" bs-pane ng-if="tabprod.price">
            <div ng-include="'modules/products/details/price.history.html'"></div>
        </div>
        <div data-title="Review / Ratings" bs-pane ng-if="tabprod.ratings">
            <div ng-include="'modules/products/details/ratings.html'"></div>
        </div>
        <div data-title="Related Products" bs-pane ng-if="tabprod.related">
            <div ng-include="'modules/products/details/related.product.html'"></div>
        </div>
    </div>
</section>
<section class="content s prod">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="<img src='./images/icon/ic_info_outline_black_24px.svg'>" bs-pane ng-if="tabprod.product">
            <div ng-include="'modules/products/details/product.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/ic_perm_media_black_24px.svg'>" bs-pane ng-if="tabprod.media">
            <ng-include src="'./modules/products/details/product.media.html'"></ng-include>
        </div>
        <div data-title="<img src='./images/icon/ic_store_black_24px.svg'>" bs-pane ng-if="tabprod.store">
            <div ng-include="'modules/products/details/store.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/animation.svg'>" bs-pane ng-if="tabprod.category">
            <div ng-include="'modules/products/details/category.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/more.svg'>" bs-pane ng-if="tabprod.attribute">
            <div ng-include="'modules/products/details/attributes.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/format-list-bulleted-type.svg'>" bs-pane ng-if="tabprod.variation">
            <div ng-include="'modules/products/details/variants.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/tag-text-outline.svg'>" bs-pane ng-if="tabprod.price">
            <div ng-include="'modules/products/details/price.history.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/ic_star_rate_black_18px.svg'>" bs-pane ng-if="tabprod.ratings">
            <div ng-include="'modules/products/details/ratings.html'"></div>
        </div>
        <div data-title="<img src='./images/icon/package-variant-closed.svg'>" bs-pane ng-if="tabprod.related">
            <div ng-include="'modules/products/details/related.product.html'"></div>
        </div>
    </div>
</section>
<style type="text/css">
@media only screen and (min-width: 200px) and (max-width: 1024px) {
    .b {
        display: none !important;
        width: 1px !important;
    }
}

@media only screen and (min-width: 1025px) {
    .s {
        display: none !important;
        width: 1px !important;
    }
}
</style>
