<section class="content-header">
    <h1>Products</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Products</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="row" role="search-row">
        <script type="text/ng-template" id="checkboxheader.html">
            <input type="checkbox" class="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()" >
        </script>
        <div class="col-md-3 col-xs-3">
            <!--  <div data-angular-treeview="true" ng-show="side" data-tree-id="mytree" data-tree-model="categoryData" data-node-id="id" data-node-label="label" data-node-children="items" style="overflow: auto; height: 927px">
                </div> -->
            <div ng-show="side">
                <div class="custom-panel panel-default" ng-repeat="category in categoryData">
                    <div class="panel-heading" ng-click="category.isCollapsed = !category.isCollapsed">
                        <a href="" ng-click="filterByCategory(category)"> {{category.label}}</a>
                        <i class="pull-right fa" ng-class="{'fa-angle-down': category.isCollapsed, 'fa-angle-right': !category.isCollapsed}"></i>
                    </div>
                    <ul class="list-group" uib-collapse="!category.isCollapsed">
                        <li ng-repeat="item in category.items" class="list-group-item">
                            <a href="" ng-click="filterByCategory(item)"><i class="fa fa-angle-right"></i> {{item.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-class="side ? 'col-md-9 col-xs-9': 'col-md-12 col-xs-12'">
            <div class="box box-warning">
                <div class="box-header" style="padding: 8px 5px;">
                    <!-- <h3 class="box-title">List of Products</h3> -->
                    <div class="pull-left leftstablebutton">
                        <button class="actbuttonassets" ng-click="side=!side" uib-tooltip="Product Category" style="margin-right: 10px;cursor:pointer;">
                            <img src="./images/icon/ic_list_black_24px (1).svg">
                        </button>
                    </div>
                    <div class="pull-left pt-3">
                        <form class="form-inline p-3 pl-15">
                            <button class="btn btn-primary actbutton btn-xs btn-flat mr-10" ui-sref="main.products-add" uib-tooltip="Add New">
                                <img src="./images/icon/ic_add_white_24px.svg">
                            </button>
                            <button class="btn btn-success actbutton btn-xs btn-flat mr-10" ng-disabled="selectedArchivedDatas.length < 1 && selectedDraftedDatas.length < 1" ng-click="publishSelected()" uib-tooltip="Publish">
                                <img src="./images/icon/file-export2.svg">
                            </button>
                            <button class="btn btn-warning actbutton btn-xs btn-flat mr-10" ng-disabled="selectedArchivedDatas.length < 1 && selectedPublishedDatas.length < 1" ng-click="draftSelected()" uib-tooltip="Draft">
                                <img src="./images/icon/pencil-box-outline.svg">
                            </button>
                            <button class="btn btn-danger actbutton btn-xs btn-flat mr-10" ng-disabled="selectedPublishedDatas.length < 1 && selectedDraftedDatas.length < 1" ng-click="deleteSelected()" uib-tooltip="Archive">
                                <img src="./images/icon/archive.svg">
                            </button>
                            <button class="btn btn-default actbutton btn-xs btn-flat mr-10" ng-click="refresh()" uib-tooltip="Refresh">
                                <img src="./images/icon/refresh.svg">
                            </button>
                        </form>
                    </div>
                    <div class=" btn-group pull-right rightstablebutton">
                        <button class="actbuttonassets " ng-if="!isList " ng-click="changeDisplay() " uib-tooltip="Grid View " angular-ripple><img src="./images/icon/view-grid.svg ">
                        </button>
                        <button class="actbuttonassets " ng-if="isList " ng-click="changeDisplay() " uib-tooltip="List View " style="padding: 2px 3px 3px; " angular-ripple><img src="./images/icon/list.svg " style="width: 18px; ">
                        </button>
                    </div>
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="pt-5">
                                    <div class="input-group imput">
                                        <input type="text" name="q" class="form-control  input-sm" placeholder="Search" ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat gobutton btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0" uib-tooltip="Search" angular-ripple style="padding: 4px 20px !important;margin-right: 10px;border: 1px solid #d2d6de;">GO</button>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <!-- <input type="text" name="q" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0">
                                        <div class="input-group-btn">
                                            <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0" uib-tooltip="Search">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div> -->
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-flat btn-warning actbutton  dropdown-toggle" data-toggle="dropdown" style="padding: 4px 20px !important;margin-right: 10px;" angular-ripple>
                                                {{applicationStatus}}
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a ng-click="updateStatus('All')">All</a>
                                                </li>
                                                <li><a ng-click="updateStatus('Publish')">Published</a>
                                                </li>
                                                <li><a ng-click="updateStatus('Archived')">Archived</a>
                                                </li>
                                                <li><a ng-click="updateStatus('Draft')">Draft</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="btn-group">
                                    <label class="btn btn-sm btn-default" ng-model="displayModel" uib-btn-radio="'List'" uib-tooltip="List View">
                                        <img src="./images/icon/ic_list_black_24px (1).svg">
                                    </label>
                                    <label class="btn btn-sm btn-default" ng-model="displayModel" uib-btn-radio="'Box'" uib-tooltip="Grid View">
                                        <img src="./images/icon/view-grid.svg">
                                    </label>
                                </div>
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="box-body table-responsive padding p-0" ng-show="!isList">
                    <table class="table table-hover" ng-table="productTable">
                        <tr ng-repeat="product in $data | orderBy: 'item_name'">
                            <td data-header="'checkboxheader.html'" class="text-center center-td-table" angular-ripple>
                                <input type="checkbox" class="checkbox" ng-model="product.selected" ng-change="checkDataChanges(product)" style="top: 5px;">
                            </td>
                            <td class="text-left" data-title="'Product Name'">
                                <a ui-sref="main.products-add({ 'p_id': product.p_id })">{{product.item_name}}</a>
                            </td>
                            <td class="text-center" data-title="'Product Type'">
                                {{product.product_type}}
                            </td>
                            <td class="text-center" data-title="'Tags'">
                                <span class="label label-default label-tags" ng-repeat="tag in product.tags">{{tag.tags}}</span>
                            </td>
                            <td class="text-center" data-title="'Base Price'">
                                {{product.sell_price}}
                            </td>
                            <td class="text-center" data-title="'Status'">
                                <span ng-if="product.is_published == 0 && product.is_archived == 0" class="label label-warning">draft</span>
                                <span ng-if="product.is_published == 1 && product.is_archived == 0" class="label label-success">published</span>
                                <span ng-if="product.is_archived == 1 && product.is_published == 0" class="label label-danger">archived</span>
                            </td>
                            <td class="text-center" data-title="'Last Updated'">
                                {{product.date_created | fromNow}}
                            </td>
                            <td class="text-right">
                                <button ng-click="edit(product.p_id)" class="btn btn-info actbutton btn-xs btn-flat" uib-tooltip="edit"><img src="./images/icon/ic_mode_edit_white_18px.svg"></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="box-body" ng-show="isList">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="product in products.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))">
                            <div class="info-box ">
                                <span ng-click="edit(product.p_id)" class="info-box-icon bg-aqua"><img src="./images/icon/package.svg" style="    margin-top: -5px;width: 80%;"></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">{{product.item_name}}</span>
                                    <span class="info-box-number">${{product.sell_price}}</span>
                                    <span ng-if="product.is_published == 0 && product.is_archived == 0" class="label label-warning">draft</span>
                                    <span ng-if="product.is_published == 1 && product.is_archived == 0" class="label label-success">published</span>
                                    <span ng-if="product.is_archived == 1 && product.is_published == 0" class="label label-danger">archived</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <uib-pagination boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>
                <div class="overlay" ng-show="productIsLoading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
