<section class="content-header">
    <h1>
            Product Bundle Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.products-bundles">Product Bundle</a></li>
        <li class="active">Product Bundle New Entry</li>
    </ol>
</section>
<section class="content b prodbun">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="General Info" bs-pane>
            <ng-include src="'./modules/products/bundles/bundle.info.html'"></ng-include>
        </div>
        <div data-title="Package Items" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundle.items.html'"></ng-include>
        </div>
        <div data-title="Category" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundles.category.html'"></ng-include>
        </div>
        <div data-title="Media / Files" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundles.media.html'"></ng-include>
        </div>
        <div data-title="Related Bundles" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundles.related.html'"></ng-include>
        </div>
         <div data-title="Attributes" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundle.attributes.html'"></ng-include>
        </div>
</section>
<section class="content s prodbun">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="<img src='./images/icon/ic_info_outline_black_24px.svg'>" bs-pane>
            <ng-include src="'./modules/products/bundles/bundle.info.html'"></ng-include>
        </div>
        <div data-title="<img src='./images/icon/package copy.svg'>" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundle.items.html'"></ng-include>
        </div>
        <div data-title="<img src='./images/icon/animation.svg'>"  bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundles.category.html'"></ng-include>
        </div>
        <div data-title="<img src='./images/icon/ic_perm_media_black_24px.svg'>" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundles.media.html'"></ng-include>
        </div>
        <div data-title="<img src='./images/icon/package-variant-closed.svg'>" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundles.related.html'"></ng-include>
        </div>
         <div data-title="<img src='./images/icon/more.svg'>" bs-pane ng-if="displayComposite">
            <ng-include src="'./modules/products/bundles/bundle.attributes.html'"></ng-include>
        </div>
</section>
