<form class="form-horizontal" ng-submit="saveEntry()">
    <div class="modal-header">
        <h4 class="modal-title pl-20">Manage Relation Type</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-3 control-label checkbox">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Name" ng-model="relation.name" ng-disabled="relation.disablename">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label checkbox">Label</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Label" ng-model="relation.label" ng-disabled="relation.disablelabel">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label checkbox">Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Description" ng-model="relation.description" ng-disabled="relation.disabledesc">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label checkbox">Type</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Type" ng-model="relation.type" ng-disabled="relation.disabletype">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label checkbox"></label>
            <div class="col-sm-9">
                <!-- <a class="btn btn-flat btn-warning" ng-click="newEntry()" ng-hide="relation.disablenewbutton">New Entry</a>
                <a class="btn btn-flat btn-default" ng-click="cancelEntry()" ng-hide="!relation.disablenewbutton">Cancel</a>
                <button class="btn btn-flat btn-primary" type="submit" ng-disabled="relation.disablesavebutton">Save</button>
                <a class="btn btn-flat btn-success" ng-click="refreshData()">Refresh</a> -->
                <div class="pull-left disp-inline-flex">
                    <div class="w140">
                        <a class="mr-10 label-circle-button ml-5" ng-click="newEntry()" ng-hide="relation.disablenewbutton">
                            <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                <img src="./images/icon/ic_black_white_24px.svg">
                            </button>New Entry
                        </a>
                    </div>
                    <div class="w140">
                        <a class="mr-10 label-circle-button ml-5" ng-click="saveCategory()">
                            <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                <img src="./images/icon/ic_close_white_24px.svg">
                            </button>Cancel
                        </a>
                    </div>
                    <div class="w140">
                        <a class="mr-10 label-circle-button ml-5" ng-click="saveCategory()">
                            <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                <img src="./images/icon/ic_save_black_24px.svg">
                            </button>Save
                        </a>
                    </div>
                    <div class="w140">
                        <a class="mr-10 label-circle-button ml-5" ng-click="getAllCategory()">
                            <button class="btn btn-default actbutton btn-xs btn-flat mr-5">
                                <img src="./images/icon/refresh.svg">
                            </button>Refresh
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-body">
                    <table class="table table-striped footable" data-page-size="10" id="tblRelationType">
                        <thead>
                            <tr>
                                <th class="" data-sort-ignore="true">Name</th>
                                <th class="" data-sort-ignore="true">Label</th>
                                <th class="" data-sort-ignore="true">Description</th>
                                <th class="" data-sort-ignore="true">Type</th>
                                <th data-sort-ignore="true"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="var in relationtypes" repeat-end="paginate()">
                                <td>
                                    {{var.name}}
                                </td>
                                <td>
                                    {{var.label}}
                                </td>
                                <td>
                                    <p data-ng-bind-html="var.description | limitTo: 90" data-ellipsis></p>
                                </td>
                                <td>
                                    {{var.type}}
                                </td>
                                <td>
                                    <a ng-click="deleteSelected(var.rel_type_id)" class="btn actbutton btn-flat btn-xs btn-info pull-right"><img src="./images/icon/ic_delete_black_24px.svg"></a>
                                    <a ng-click="getSelected(var)" class="btn actbutton btn-flat btn-xs btn-info pull-right mr-10"><img src="./images/icon/ic_mode_edit_white_18px.svg"></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="6" align="center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-flat btn-default" ng-click="cancel()">Close</a>
    </div>
</form>
