<nav class="navbar queHeader-Nav navbar-fixed-top" ng-init="PriorityQue = true;">
    <div class="queHeader" ng-click="PriorityQue = true; Categorization = false; PriorityQue = 1;" ng-class="{'activeHead': PriorityQue == 1}">
        Priority Queue
    </div>
    <div class="queHeader" ng-click="Categorization = true; PriorityQue = false; Categorization = 1;" ng-class="{'activeHead': Categorization == 1}">
        Order Summary
    </div>
    <div class="headerTime">{{CurrentDate | date:'hh:mm:ss a'}}</div>
</nav>
<!-- PRIORITY QUEUE -->
<!-- PRIORITY QUEUE -->
<!-- PRIORITY QUEUE -->
<!-- PRIORITY QUEUE -->
<!-- PRIORITY QUEUE -->
<div class="holder" ng-show="PriorityQue">
    <div class="card " ng-class="{'checked': card.checked, 'unchecked' : !card.checked}" ng-repeat="card in menuRecords | limitTo : 10 track by $index ">
        <div class="cardHead" ng-class="[{'takeout': card.orderstatus == 'Take - Out'},{'dineIn': card.orderstatus == 'Dine - In'},{'deliver': card.orderstatus == 'Deliver'}]">
            # {{card.tableno}}
            <div><small>{{card.orderstatus}}</small></div>
            <div>
                <span ng-repeat="que in card.orders" ng-class="{
                                'blue': que.producttypeId == '1',
                                'violet ': que.producttypeId == '2',
                                'green': que.producttypeId == '3',
                                'red': que.producttypeId == '4',
                                'yellow': que.producttypeId == '5'}">
             </span>
            </div>
        </div>
        <div class="menu" ng-class="{'borderChecked': card.ready, 'borderUnchecked' : !card.ready}">
            IN: {{card.datetime1}}
        </div>
        <div class="timeLapse" ng-show="card.isLapsed">Waiting for {{card.lapsedTime}} mins already.</div>
        <div class="cardBody">
            <div ng-repeat="que in card.orders" ng-dblclick="hmSwipeleft(que,$event)">
                <div class="pure-checkbox" ng-class="{
                                'bCblue': que.producttypeId == '1',
                                'bCviolet': que.producttypeId == '2',
                                'bCgreen': que.producttypeId == '3',
                                'bCred': que.producttypeId == '4',
                                'bCyellow': que.producttypeId == '5'}">
                    <input id="aw-{{$index}}-{{card}}-{{que}}-{{tableno}}" name="checkbox" type="checkbox" ng-model="que.checked" ng-click="checkChecked($event)">
                    <label for="aw-{{$index}}-{{card}}-{{que}}-{{tableno}}" ng-class="{'colorChecked': que.checked, 'colorUnchecked' : !que.checked}">
                        <div>{{que.quantity}}</div>{{que.item_name}}
                    </label>
                    <!-- <small>{{que.menuAdd}}</small> -->
                    <span ng-if="que.isDone" class="span1">Ready</span>
                </div>
            </div>
        </div>
        <div class="cardFooter" ng-class="{'borderChecked': card.ready == true, 'borderUnchecked' : !card.ready}">
            {{card.waitername}}
        </div>
        <div class="cardFooterServe" ng-show="card.ready" ng-class="{'borderChecked': card.ready == true, 'borderUnchecked' : !card.ready}" ng-click="serveOrder(card)">
            {{card.waitername}}
            <div>Serve</div>
        </div>
        <div class="cardFooterDone" ng-show="card.serve" ng-class="{'borderChecked': card.ready == true, 'borderUnchecked' : !card.ready}" ng-click="doneOrder(card)">
            {{card.waitername}}
            <div><i class="fa fa-check" aria-hidden="true"></i> Done</div>
        </div>
    </div>
</div>
<!-- ORDER SUMMARY
 -->
<!-- ORDER SUMMARY
 -->
<!-- ORDER SUMMARY
 -->
<!-- ORDER SUMMARY
 -->
<!-- ORDER SUMMARY
 -->
<div class="holder2" ng-show="Categorization">
    <div class="cardPlace" ng-repeat="menus in orderSum" ng-class="{
                                'cardPlaceBg-Blue': menus.menuCode == '1',
                                'cardPlaceBg-Violet': menus.menuCode == '2',
                                'cardPlaceBg-Green': menus.menuCode == '3',
                                'cardPlaceBg-Red': menus.menuCode == '4',
                                'cardPlaceBg-Orange': menus.menuCode == '5',}">
        <div class="cardPlaceHead" ng-class="{
                                'cardPLaceHeadBg-Blue': menus.menuCode == '1',
                                'cardPLaceHeadBg-Violet': menus.menuCode == '2',
                                'cardPLaceHeadBg-Green': menus.menuCode == '3',
                                'cardPLaceHeadBg-Red': menus.menuCode == '4',
                                'cardPLaceHeadBg-Orange': menus.menuCode == '5',}">
            {{menus.menuType}}
        </div>
        <div class="cardPladeHolder">
            <div class="card" ng-repeat="order in menus.menu" ng-class="{
                                'cardBg-Blue': menus.menuCode == '1',
                                'cardBg-Violet': menus.menuCode == '2',
                                'cardBg-Green': menus.menuCode == '3',
                                'cardBg-Red': menus.menuCode == '4',
                                'cardBg-Orange': menus.menuCode == '5',}">
                <div class="cardHead" ng-class="{
                                'cardHeadBg-Blue': menus.menuCode == '1',
                                'cardHeadBg-Violet': menus.menuCode == '2',
                                'cardHeadBg-Green': menus.menuCode == '3',
                                'cardHeadBg-Red': menus.menuCode == '4',
                                'cardHeadBg-Orange': menus.menuCode == '5',}">
                    # {{order.tableno}}
                    <div><small>{{order.name}}</small></div>
                </div>
                <div class="colorwyt" ng-class="{'colorTransparent': order.checked}">
                    <div class="menu" ng-class="{'borderChecked': order.checked, 'borderUnchecked' : !order.checked}">
                        IN: {{order.datetime1 | date:'hh:mm a'}}
                    </div>
                    <div class="cardBody">
                        <div ng-repeat="orderzz in order.orders" ng-if="orderzz.producttypeId == menus.menuCode">
                            <div class="pure-checkbox">
                                <input id="aw-{{$index}}-{{menus}}-{{order}}-{{orderzz}}-{{tableno}}" name="checkbox" type="checkbox" ng-model="orderzz.checked" ng-click="transparentcheck(orderzz)">
                                <label for="aw-{{$index}}-{{menus}}-{{order}}-{{orderzz}}-{{tableno}}" ng-class="{'colorChecked': orderzz.checked, 'colorUnchecked' : !orderzz.checked}">
                                    <div>{{orderzz.quantity}}</div>{{orderzz.item_name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cardFooter" ng-class="{'borderChecked': order.checked, 'borderUnchecked' : !order.checked}">
                        {{order.waitername}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="holderzz">
        <img class="left" src="./images/right-arrow_318-133548.png">
        <div class="prio" ng-click="generateRandomData()">Priority Queue</div>
        <img class="right" src="./images/arrow.png">
        <div ng-if="($index + 1) > limit" ng-repeat="nextQue in menuRecords">
            <div class="smCard"># {{nextQue.tableno}}</div>
        </div>
    </div>
    <button class="clearBtn" ng-class="{'clearBtnReady': clearDone, 'clearBtnHalt' : !clearDone}" ng-disabled="!clearDone" ng-click="removeAllDone()">Remove All Done</button>
</div>
