<div class="preso-assets">
    <div class="">
        <div id="testo">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="item in aboutengagis" ng-if="item.asset_mimetype == 'image/png'">
                        <div class="tes-slider">
                            <div class="dis_table slider-content">
                                <section class="dis_cell_top">
                                    <h1>{{item.asset_name}}</h1>
                                    <!-- <h3>Author: Engagis</h3> -->
                                    <div class="hide-sm">
                                        <p class="pad_vertical_15 " ng-bind-html="item.asset_description">
                                        </p>
                                        <div>
                                            <a class="btn btn-primary" ng-click="imagepreview(item)">Preview</a>
                                            <a class="btn btn-primary" ng-click="imageCast(item)">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                                <section class="dis_cell_top">
                                    <div class="img_holder">
                                        <img ng-src="{{item.asset_url}}" />
                                        <div class="drp-sdow"></div>
                                    </div>
                                    <div class="show-sm">
                                        <div>
                                            <a class="btn btn-primary">Preview</a>
                                            <a class="btn btn-primary">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-slide">
                        <div class="tes-slider">
                            <div class="dis_table slider-content">
                                <section class="dis_cell_top">
                                    <h1>Engagis: Creating Connections</h1>
                                    <h3>Author: Engagis</h3>
                                    <div class="hide-sm">
                                        <p class="pad_vertical_15 ">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                        </p>
                                        <div>
                                            <a class="btn btn-primary">Preview</a>
                                            <a class="btn btn-primary">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                                <section class="dis_cell_top">
                                    <div class="img_holder">
                                        <img src="./images/img-sample-2.jpg" />
                                        <div class="drp-sdow"></div>
                                    </div>
                                    <div class="show-sm">
                                        <div>
                                            <a class="btn btn-primary">Preview</a>
                                            <a class="btn btn-primary">Cast to Screen</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="slider-bg img_holder">
            </div>
            <div class="black-fade">
            </div>
        </div>
        <div contextmenu="meta.contextmenu" class="dropdown contextmenu">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ng-click="previewSelected()">
                        <i class="ti ti-eye padd"></i> Preview
                    </a>
                </li>
                <li ng-if="selectedFile.asset_mimetype == 'image/jpeg'||selectedFile.asset_mimetype == 'image/png'">
                    <a>
                        <i class="ti ti-fullscreen padd"></i> View Fullscreen
                    </a>
                </li>
                <li>
                    <a ng-click="castModal()">
                        <i class="ti ti-desktop padd"></i> Mirror
                    </a>
                </li>
                <li ng-if="selectedFile.isStarred == 1">
                    <a role="menuitem" tabindex="-1" href ng-click="starredSelected()">
                        <i class="fa fa-star padd" style="color:orange;"></i> Remove from Favorites
                    </a>
                </li>
                <li ng-if="selectedFile.isStarred == 0">
                    <a ng-click="starredSelected()">
                        <i class="ti ti-star padd"></i> Add Star
                    </a>
                </li>
                <li>
                    <a ng-href="{{selectedFile.asset_url}}" target="_self" download="{{selectedFile.asset_url}}">
                        <i class="ti ti-download padd"></i> Download
                    </a>
                </li>
            </ul>
        </div>
        <div class="flexi-pad top-ten" contextmenu-container="meta.contextmenu">
            <div class="multiple-slider">
                <div class="font_18 font_medium blue1">
                    <span class="orange1"><i class=" fa fa-bookmark"></i></span> {{toppresentation.folder_name}}
                </div>
                <div class="swiper-container">
                    <div class="slide-left" ng-view></div>
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="item in toppresentation.files">
                            <a class="file-item" contextmenu-item="item" ng-click="activeSelected(item)" ng-dblclick="openFile(item)" ng-class="{'active':item.isActive}">
                                <i class="fa fa-star text-yellow" ng-if="item.isStarred"></i>
                                <i class="fa fa-star-o" ng-if="!item.isStarred" style="color:transparent;"></i>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'">
                                    <img ng-src="{{item.asset_url}}" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf'">
                                    <img src="./images/icons/ext-preso--08-pdf.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                    <img src="./images/icons/ext-preso--07-docs.svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'">
                                    <img src="./images/icons/ext-file-slides.svg" class="if-svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'audio/mp3' || item.asset_mimetype == 'audio/mp4'">
                                    <img src="./images/icons/ext-preso--04-mp3.svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'text/plain'">
                                    <img src="./images/icons/ext-preso--06-text.svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                    <img src="./images/icons/ext-preso--10-sheets.svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/zip'">
                                    <img src="./images/icons/ext-preso---11-zip.svg" />
                                </div>
                                <div class="img_holder" ng-if="item.asset_mimetype == 'application/octet-stream'">
                                    <img src="./images/icons/ext-preso---11-zip.svg" />
                                </div>
                                <div class="file-name">
                                    <span>
                                       <i class="fa fa-file-image-o"
                                          ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'"></i>
                                            <i class="red1 fa fa-file-pdf-o"
                                               ng-if="item.asset_mimetype == 'application/pdf'"></i>
                                            <i class="blue2 fa-file-word-o"
                                               ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                            <i class="grey2 fa fa-file-code-o"
                                               ng-if="item.asset_mimetype == 'text/plain'"></i>
                                            <i class="orange1 fa fa-file-powerpoint-o"
                                               ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
                                            <i class="green1 fa fa-file-excel-o"
                                               ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                            <i class="fa fa-file-audio-o"
                                               ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'"></i>
                                            <i class="fa fa-file-movie-o"
                                               ng-if="item.asset_mimetype == 'video/mp4'"></i>
                                    </span>
                                    <span class="pad_side_10 ">
                                        {{item.asset_name}}
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flexi-pad top-ten" contextmenu-container="meta.contextmenu">
            <div class="multiple-slider">
                <div class="row">
                    <div class="swiper-container">
                        <div class="swiper-scrollbar"></div>
                        <div class="swiper-wrapper" ng-repeat="items in foldercopy" ng-hide="items.folder_name  == 'Top 10 Presentations' || items.folder_name  == 'About Engagis'">
                            <div class="font_18 font_medium blue1">
                                {{items.folder_name}}
                            </div>
                            <div class="swiper-slide" ng-repeat="item in items.files">
                                <a class="file-item" contextmenu-item="item" ng-click="activeSelected(item)" ng-dblclick="openFile(item)" ng-class="{'active':item.isActive}">
                                    <i class="fa fa-star text-yellow" ng-if="item.isStarred"></i>
                                    <i class="fa fa-star-o" ng-if="!item.isStarred" style="color:transparent;"></i>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'">
                                        <img ng-src="{{item.asset_url}}" />
                                    </div>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/pdf'">
                                        <img src="./images/icons/ext-preso--08-pdf.svg" class="if-svg" />
                                    </div>
                                    <!-- <pdf-thumbnail data-file="item.file" ng-if="item.asset_mimetype == 'application/pdf'">
                                    </pdf-thumbnail> -->
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                        <img src="./images/icons/ext-preso--07-docs.svg" class="if-svg" />
                                    </div>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'text/plain'">
                                        <img src="./images/icons/ext-preso--06-text.svg" class="if-svg" />
                                    </div>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'">
                                        <img src="./images/icons/ext-file-slides.svg" class="if-svg" />
                                    </div>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                        <img src="./images/icons/ext-file-sheets.svg" class="if-svg" />
                                    </div>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'">
                                        <img src="./images/icons/ext-preso--04-mp3.svg" class="if-svg" />
                                    </div>
                                    <div class="videogular-container" ng-if="item.asset_mimetype == 'video/mp4'">
                                        <videogular vg-theme="item.url">
                                            <vg-media vg-src="item.asset_url"></vg-media>
                                            <vg-buffering></vg-buffering>
                                            <!-- <vg-overlay-play></vg-overlay-play> -->
                                        </videogular>
                                    </div>
                                    <!-- <i class="fa fa-file-audio-o text-black docs" ng-if="item.asset_mimetype == 'audio/mp3' || item.asset_mimetype == 'audio/mp4'"></i> -->
                                    <!-- <i class="fa fa-file-text-o text-blue docs" ></i> -->
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/zip'">
                                        <img src="./images/icons/ext-preso---11-zip.svg" />
                                    </div>
                                    <div class="img_holder" ng-if="item.asset_mimetype == 'application/octet-stream'">
                                        <img src="./images/icons/ext-preso---11-zip.svg" />
                                    </div>
                                    <div class="file-name">
                                        <span class=" ">
                                            <i class="fa fa-file-image-o"
                                               ng-if="item.asset_mimetype == 'image/jpeg'||item.asset_mimetype == 'image/gif'|| item.asset_mimetype == 'image/png'|| item.asset_mimetype == 'image/x-ms-bmp'"></i>
                                            <i class="red1 fa fa-file-pdf-o"
                                               ng-if="item.asset_mimetype == 'application/pdf'"></i>
                                            <i class="fa fa-file-word-o"
                                               ng-if="item.asset_mimetype == 'application/msword' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                            <i class="fa fa-file-code-o"
                                               ng-if="item.asset_mimetype == 'text/plain'"></i>
                                            <i class="orange1 fa fa-file-powerpoint-o"
                                               ng-if="item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.presentationml.presentation' || item.asset_mimetype == 'application/vnd.ms-powerpoint'"></i>
                                            <i class="fa fa-file-excel-o"
                                               ng-if="item.asset_mimetype == 'text/csv' || item.asset_mimetype == 'application/vnd.ms-excel' || item.asset_mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                            <i class="fa fa-file-audio-o"
                                               ng-if="item.asset_mimetype == 'audio/mp3'||item.asset_mimetype == 'audio/mp4'"></i>
                                            <i class="fa fa-file-movie-o"
                                               ng-if="item.asset_mimetype == 'video/mp4'"></i>
                                        </span>
                                        <span class="pad_side_10 ">
                                            {{item.asset_name}}
                                        </span>
                                    </div>
                                </a>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var swiper = new Swiper('#testo .swiper-container', {
        pagination: '#testo .swiper-pagination',
        nextButton: '#testo .swiper-button-next',
        prevButton: '#testo .swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30
    });

    var swiper2 = new Swiper('.multiple-slider .swiper-container', {
        scrollbar: '.multiple-slider .swiper-scrollbar',
        scrollbarHide: true,
        slidesPerView: 'auto',
        centeredSlides: false,
        spaceBetween: 30,
        grabCursor: true
    });
    </script>
    <style type="text/css">
    .multiple-slider .active,
    .asset-by-industry .active {
        background: #3cb1ff;
        color: white !important;
    }
    </style>
