<!-- /.row -->
<div class="row" ng-controller="companyController">
    <script type="text/ng-template" id="checkboxheader.html">
        <input type="checkbox" class="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
    </script>
    <div class="col-xs-12">
        <div class="">
            <div class="box-header">
                <div class="w100p disp-inline-flex">
                    <button ui-sref="main.settings-company-detail" class="btnflat primary-color waves-effect ml-10 fr" angular-ripple="">Add New</button>
                    <button ng-click="deleteSelected()" ng-disabled="!deleteSomeData" class="btnflat danger-color waves-effect ml-10 fr" angular-ripple="">Delete</button>
                    <button ng-click="refresh()" class="btnflat waves-effect ml-10 fr" angular-ripple="">Refresh</button>
                    <button ui-sref="main.settings-customergroup" class="btnflat waves-effect ml-10 fr" angular-ripple="">Customer Groups</button>
                </div>
            </div>
            <div class="box-header">
                <div class="w100p disp-inline-flex">
                    <div class="pull-left">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-flat btn-success dropdown-toggle" data-toggle="dropdown" uib-tooltip="Import">
                                <i class="fa fa-upload"></i>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="importCompanies('excel')"><i class="fa fa-file-excel-o"></i> Excel</a>
                                </li>
                                <li><a href="" ng-click="importCompanies('csv')"><i class="fa fa-file-excel-o"></i> CSV</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-flat btn-success dropdown-toggle" data-toggle="dropdown" uib-tooltip="Export">
                                <i class="fa fa-download"></i>
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="exportData('excel')"><i class="fa fa-file-excel-o"></i> Excel</a>
                                </li>
                                <li><a href="" ng-click="exportData('csv')"><i class="fa fa-file-excel-o"></i> CSV</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group imput">
                                        <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0">
                                        <!-- <div class="input-group-btn">
                                    <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0"><i class="fa fa-search"></i></button>
                                </div> -->
                                    </div>
                                    <!-- <div class="form-group">
                                    <button class="btn btn-sm btn-flat btn-default" ui-sref="main.settings-customergroup"><i class="fa fa-list"></i> Customer Groups</button>
                                </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body p-0 table-responsive padding">
            <table class="table table-hover" ng-table="companyTable">
                <tr ng-repeat="company in $data  track by $index">
                    <td data-header="'checkboxheader.html'" class="text-center center-td-table">
                        <input type="checkbox" class="checkbox" ng-model="company.selected" ng-change="checkDataChanges(company)">
                    </td>
                    <td class="text-center" data-title="'Company Name'">
                        {{company.name}}
                    </td>
                    <td class="text-center" data-title="'Address '">
                        {{company.address}}
                    </td>
                    <td class="text-center" data-title="'Date Created'">
                        {{company.date_created | fromNow}}
                    </td>
                    <!-- <td class="text-right">
                            <button ui-sref="main.settings-company-detail({company_id: company.company_id})" class="btn btn-info btn-xs btn-flat"><i class="glyphicon glyphicon-edit"></i></button>
                        </td> -->
                    <td class="text-right">
                        <div class="disp-inline-flex">
                            <button ui-sref="main.settings-company-detail({company_id: company.company_id})" class="btn btn-info actbutton btn-xs btn-flat" href="#/main/settings/humanresource/69"><img src="./images/icon/ic_mode_edit_white_18px.svg"></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- <div class="overlay" ng-show="companyisLoading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div> -->
    </div>
</div>
</div>
