<div class="modal-header">
    <a ng-click="cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></a>
    <h3 class="modal-title">Import CSV Data</h3>
    <div style="margin-top:25px;">
        <div class="btn btn-default btn-flat btn-sm image-preview-input" ng-disabled="isClear"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
            <input type="file" accept="text/csv" name="input-file-preview" ng-model="csv" ngf-max-size="8MB" ngf-select="upload($files)" />
        </div>
        <button class="btn btn-flat btn-sm btn-danger" ng-click="clear()" ng-disabled="!isClear">
            <i class="fa fa-times"></i>&nbsp Clear
        </button>
    </div>
</div>
<div class="modal-body">
    <div class="box box-warning">
        <div class="box-body">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th ng-repeat="item in csvHeaders" repeat-end="onEnd()">{{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="item in csvResult track by $index"> -->
                        <tr infinite-scroll="addMoreItems()" infinite-scroll-distance="3" ng-repeat="item in (csvResult | limitTo:infiniteScrollData.currentItems) track by $index">
                            <td ng-repeat="a in csvHeaders">
                                <strong>{{ item[a] }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="overlay" ng-show="isLoading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-flat btn-primary" ng-click="import()">Import</a>
    <a class="btn btn-flat btn-default" ng-click="cancel()">Close</a>
</div>
