<div class="login-box">
    <div class="box-header login-logo">
        Sign In to <i class="headtext">Symphony</i>
    </div>
    <form ng-submit="login()">
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div class="form-group has-feedback">
                <input placeholder="Username" type="text" ng-model="user.username" required>
            </div>
            <div class="form-group has-feedback" style="margin-bottom: 15px;">
                <input placeholder="Password" type="password" ng-model="user.password" required>
            </div>
            <div class="form-group " style="margin-bottom: 15px;">
                <label>
                    <input for="check" type="checkbox" class="checkbox marg" style="width: 0;">
                    <div id="check" class="lab"> Remember Me</div>
                </label>
                <div class="forgot" ui-sref="forgot">
                    <img src="./images/icon/ic_lock_black_24px.svg"> Forgot password
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="text-center">
                <a class="btn btn-social-icon btn-facebook" ng-click="authenticate('facebook')"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-google" ng-click="authenticate('google')"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-linkedin" ng-click="authenticate('linkedin')"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-twitter" ng-click="authenticate('twitter')"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div class="box-footer" style="padding: 20px 35px;">
            <button type="submit" class="btnflat waves-effect" angular-ripple>Log In</button>
            <button ui-sref="resend" class="btnflat waves-effect" angular-ripple>Resend Email Verification</button>
        </div>
    </form>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
