<section class="content-header">
    <h1>
            Product Bundle Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.products-bundles">Product Bundle</a></li>
        <li class="active">Product Bundle New Entry</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="<i class='fa fa-info'></i> General Info" bs-pane>
            <div class="row">
                <form role="form" name="bundleForm" ng-submit="addProduct()">
                    <div class="col-md-9">
                        <div class="box box-warning">
                            <div class="box-header">
                                <h3 class="box-title">Enter Product Bundle Info</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group " ng-if="details.pb_id">
                                    <label>Status: </label>
                                    <span ng-if="details.is_published == 0 && details.is_archived == 0" class="label label-warning">draft</span>
                                    <span ng-if="details.is_published == 1 && details.is_archived == 0" class="label label-success">published</span>
                                    <span ng-if="details.is_archived == 1 && details.is_published == 0" class="label label-danger">archived</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Bundle Name</label>
                                    <input type="text" class="form-control" ng-model="details.bundle_name" placeholder="Product Name" required />
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group col-md-6">
                                    <label>Product Type</label>
                                    <select class="form-control" ng-model="details.product_type_id" ng-options="option.ptype_id as option.name for option in ptypes" required /></select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Bundle Code</label>
                                    <input type="text" class="form-control" ng-model="details.bundle_code" placeholder="Product Code" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Bundle Brand</label>
                                    <input type="text" class="form-control" ng-model="details.bundle_brand" placeholder="Product Brand" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sell Price</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" ng-model="details.sell_price" class="form-control" required valid-number>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 ">
                                    <label>Start Date: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" ng-model="details.start_date" data-date-format="MM-dd-yyyy" data-max-date="{{details.end_date}}" bs-datepicker required />
                                    </div>
                                </div>
                                <div class="form-group col-md-6 ">
                                    <label>End Date: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.end_date" data-min-date="{{details.start_date}}" bs-datepicker required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <text-angular ng-model="details.bundle_description" required /></text-angular>
                                </div>
                                <div class="form-group">
                                    <label>Tags <i class="fa fa-tags"></i></label>
                                    <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" on-remove="deleteProductTags($item)" multiple tagging="tagTransform" tagging-label="Enter Tag" ng-model="details.tags" theme="bootstrap" close-on-select="false">
                                        <ui-select-match placeholder="Enter Tags...">{{$item.tags}}</ui-select-match>
                                        <ui-select-choices repeat="tag in tagsArr | propsFilter: {tags: $select.search}">
                                            <div ng-bind-html="tag.tags | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-warning">
                            <div class="box-body">
                                <button type="submit" ng-disabled="bundleForm.$invalid" class="btn btn-primary btn-flat btn-block">Save Entry</button>
                                <a class="btn btn-success btn-flat btn-block" ng-show="showPublish" ng-click="publishProduct(details.pb_id)">Publish</a>
                                <a class="btn btn-danger btn-flat btn-block" ng-show="showArchive" ng-click="archiveProduct(details.pb_id)">Archive</a>
                                <a class="btn btn-default btn-block" ng-click="goBack()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-9" ng-if="details.pb_id">
                    <div class="box ">
                        <h3 class="box-title">Bundle Images</h3>
                        <div class="text-center" ng-show="slides.length > 0">
                            <div id="carousel-custom" class="carousel slide" data-ride="carousel">
                                <div class="carousel-outer">
                                    <div class="carousel-inner">
                                        <div ng-repeat="slide in slides" class="item" ng-class="{active:!$index}" data-thumb="{{$index}}">
                                            <img class="image-responsive" ngf-src="slide.image || 'http://placehold.it/750x450' " err-src="http://placehold.it/750x450" width="250" height="250">
                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators">
                                    <li ng-repeat="slide in slides" data-target='#carousel-custom' data-slide-to="{{slide.index}}" ng-class="{active:!$index}">
                                        <img ng-src="{{slide.image}}" alt='' width="150" height="100" />
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-title="<i class='fa fa-list'></i> Package Items" bs-pane ng-if="displayComposite">
            <div class="row ">
                <form class="form-inline " role="form ">
                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="box-header ">
                                <div clas="box-header">
                                    <div class="pull-right">
                                        <div class="form-group ">
                                            <div class="col-md-12 ">
                                                <div class="input-group ">
                                                    <div class="box-tools " ng-hide="list.listName === 'Package'">
                                                        <div class="input-group ">
                                                            <input type="text " class="form-control input-sm " placeholder="Search for... " ng-model="txtSearch " disable-valid-styling="true " disable-validation-message=" " ng-change="(txtSearch.length < 1)? searchData(txtSearch):0 " ng-keypress="($event.which===13)?searchData(txtSearch):0">
                                                            <div class="input-group-btn ">
                                                                <a class="btn btn-flat btn-sm btn-default " ng-click="searchData(txtSearch)"><i class="fa fa-search "></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="btn-group ">
                                                            <a ng-click="refresh() " class="btn btn-flat btn-sm btn-success ">
                                                                <i class="fa fa-refresh "></i> Refresh
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="list in models" class="col-md-6">
                                    <div clas="box-header">
                                        <div class="box-tools " ng-hide="list.listName === 'Products'">
                                            <a ng-click="addProductBundle() " class="btn btn-flat btn-sm btn-primary ">
                                                <i class="fa fa-edit "></i> Save
                                            </a>
                                            <a class="btn btn-flat btn-sm btn-danger " ng-click="removeAll(list,item) ">
                                                <i class="fa fa-trash "></i> Remove all
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">List of {{list.listName}}</h3>
                                            </div>
                                            <div class="panel-body" ng-include="'modules/products/multi.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div data-title="<i class='fa fa-list'></i> Category" bs-pane ng-if="displayComposite">
            <div class="row" ng-controller="productBundleCategoryCtrl">
                <form role="form" ng-submit="addProduct()">
                    <div class="col-md-12">
                        <div class="box box-warning">
                            <div class="box-header">
                                <!-- <h3 class="box-title">List of Products</h3> -->
                                <div class="pull-left">
                                    <form class="form-inline">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-flat btn-warning dropdown-toggle" data-toggle="dropdown">
                                                Status: <span ng-if="applicationStatus == ''">All</span><span ng-if="applicationStatus != ''">{{applicationStatus}}</span>
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a ng-click="updateStatus('')">All</a></li>
                                                <li><a ng-click="updateStatus('Product\'s Category')">Product's Category</a></li>
                                            </ul>
                                        </div>
                                        <a class="btn btn-flat btn-sm btn-primary" ng-click="saveproductBundleCategory()">
                                            <i class="fa fa-edit"></i> Save
                                        </a>
                                        <a class="btn btn-flat btn-sm btn-success" ng-click="getAllCategory()">
                                            <i class="fa fa-refresh"></i> Refresh
                                        </a>
                                    </form>
                                </div>
                                <div class="pull-right box-tools">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchStatus():0">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-flat btn-sm btn-default" ng-click="searchStore()" ng-keypress="($event.which === 13)?searchStore():0"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-striped footable" data-page-size="10" id="tblCategory">
                                    <thead>
                                        <tr>
                                            <th width="30" data-sort-ignore="true">
                                                <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                                            </th>
                                            <th class="">Name</th>
                                            <th class="">Label</th>
                                            <th class="">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="var in itemArray" repeat-end="paginate()">
                                            <td>
                                                <input type="checkbox" ng-model="var.selected" ng-change="checkStoresChanges(var)">
                                            </td>
                                            <td>
                                                {{var.name}}
                                            </td>
                                            <td>
                                                {{var.label}}
                                            </td>
                                            <td>
                                                {{var.description}}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="hide-if-no-paging">
                                        <tr>
                                            <td colspan="6" align="center">
                                                <ul class="pagination"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div data-title="<i class='fa fa-files-o'></i> Media / Files" bs-pane ng-if="displayComposite">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="pull-left">
                                <button class="btn btn-flat btn-sm btn-primary" ng-click="openUploader()">
                                    <i class="fa fa-edit"></i> Upload Image
                                </button>
                                <button ng-click="deleteAllMedia()" class="btn btn-flat btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Delete All
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-repeat="files in product_image" class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="box">
                                        <div class="box-body text-center">
                                            <button class="btn btn-box-tool pull-right" ng-click="deleteSelected(files)"><i class="fa fa-trash"></i></button>
                                            <img class="img-rounded" ngf-src="files.image_path" err-src="http://placehold.it/750x450" width="150px" height="150px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
