<section class="content-header">
    <h1>
            Product Bundle Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.products-bundles">Product Bundle</a></li>
        <li class="active">Product Bundle New Entry</li>
    </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom" bs-tabs>
        <div data-title="<i class='fa fa-info'></i> General Info" bs-pane>
            <div class="row">
                <form role="form" name="bundleForm" ng-submit="addProduct()">
                    <div class="col-md-9">
                        <div class="box box-warning">
                            <div class="box-body">
                                <div class="form-group" ng-if="details.p_id">
                                    <label>Status: </label>
                                    <span ng-if="details.is_published == '0' " class="label label-warning">draft</span>
                                    <span ng-if="details.is_published == '1' " class="label label-success">published</span>
                                    <span ng-if="details.is_archived == '1'" class="label label-danger">archived</span>
                                </div>
                                <div class="form-group">
                                    <label>Bundle Name</label>
                                    <input type="text" class="form-control" ng-model="details.bundle_name" placeholder="Product Name" required="">
                                </div>
                                <div class="form-group">
                                    <label>Bundle Code</label>
                                    <input type="text" class="form-control" ng-model="details.bundle_code" placeholder="Product Code" required="">
                                </div>
                                <div class="form-group">
                                    <label>Product Type</label>
                                    <select class="form-control" ng-model="details.product_type_id" ng-options="option.ptype_id as option.name for option in ptypes" required=""></select>
                                </div>
                                <div class="form-group">
                                    <label>Bundle Brand</label>
                                    <input type="text" class="form-control" ng-model="details.bundle_brand" placeholder="Product Brand" required="">
                                </div>
                                <div class="form-group">
                                    <label>Sell Price</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">Php ₱</span>
                                        <input type="text" ng-model="details.sell_price" class="form-control" required="">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Start Date: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" ng-model="details.start_date" data-date-format="MM-dd-yyyy" data-max-date="{{details.end_date}}" bs-datepicker required="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End Date: </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.end_date" data-min-date="{{details.start_date}}" bs-datepicker required="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <text-angular ng-model="details.bundle_description" required=""></text-angular>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-warning">
                            <div class="box-body">
                                <button type="submit" ng-disabled="bundleForm.$invalid" class="btn btn-primary btn-flat btn-block">Save Entry</button>
                                <a class="btn btn-success btn-flat btn-block" ng-show="showPublish" ng-click="publishProduct(details.pb_id)">Publish</a>
                                <a class="btn btn-danger btn-flat btn-block" ng-show="showArchive" ng-click="archiveProduct(details.pb_id)">Archive</a>
                                <a class="btn btn-default btn-block" ng-click="goBack()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div data-title="<i class='fa fa-list'></i> Composite" bs-pane ng-if="displayComposite">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <form role="form" ng-submit="addProductBundle()">
                            <div class="box-header">
                                <div class="pull-right">
                                    <div class="col-md-12">
                                        <div class="box-tools pull-right">
                                            <button type="submit" class="btn btn-flat btn-sm btn-primary">
                                                <i class="fa fa-edit"></i> Save
                                            </button>
                                            <button class="btn btn-flat btn-sm btn-danger" ng-click="removeAll(list2)" ng-disabled="!list2.length">
                                                <i class="fa fa-trash"></i> Remove all
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="panel panel-info">
                                    <div class="panel-heading"> Package</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul dnd-list="list2">
                                            <li ng-repeat="item in list2 track by $index" ng-model="item.products.item_name" target-list="item">
                                                {{item.item_name}}
                                                <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="remove($index)">
                                                    <span class="fa fa-times"></span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="box-header">
                            <div class="pull-right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch" disable-valid-styling="true" disable-validation-message="" ng-change="(txtSearch.length < 1)?searchData(txtSearch):0">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-flat btn-sm btn-default" ng-click="searchData(txtSearch)" ng-keypress="($event.which === 13)?searchData(txtSearch):0"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="btn-group">
                                                <button ng-click="refresh()" class="btn btn-flat btn-sm btn-success">
                                                    <i class="fa fa-refresh"></i> Refresh
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Product</h3>
                                </div>
                                <div class="panel-body">
                                    <ul dnd-list="list1">
                                        <li ng-repeat="item in list1 | orderBy:'start_date' | limitTo: 25 track by $index" dnd-draggable="item" dnd-effect-allowed="move" dnd-dragstart="onDragstart(list1, event)" ng-class="{'selected': item.selected}" dnd-selected="item.selected = !item.selected" dnd-moved="dropCallback(event, $index, item)">
                                            {{item.item_name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-title="<i class='fa fa-image'></i> Bundle Images" bs-pane ng-if="displayImage">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="pull-left">
                                <button class="btn btn-flat btn-sm btn-primary" ng-click="openUploader()">
                                    <i class="fa fa-edit"></i> Upload Image
                                </button>
                                <button ng-click="deleteSelected()" ng-disabled="!deleteSomeData" class="btn btn-flat btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <button class="btn btn-flat btn-sm btn-success">
                                    <i class="fa fa-refresh"></i> Refresh
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div ng-repeat="img in product_image" class="col-md-3 portfolio-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="img.selected" ng-change="checkDataChanges(store)">
                                            <img ngf-src="img.image_path || 'http://placehold.it/750x450'" err-src="http://placehold.it/750x450" class="thumbnail" height="150" width="230" alt="">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<style>
.row ul[dnd-list],
.row ul[dnd-list] > li {
    position: relative;
}

.row ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

.row ul[dnd-list] .dndDraggingSource {
    display: none;
}

.row ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.row ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.row ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.row ul[dnd-list] li.target-list {
    min-height: 30px;
}
</style>
